body {
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
    color: blue;
}

.form-control::placeholder {
    color: rgba(128, 128, 128, 0.75);
}

input:hover,
textarea:hover {
    border-color: rgb(56, 156, 255);
}

.event-detail-body {
    background-color: #f1f2f5;
}

.news-body {
    background-color: #f1f2f5;
}

/* width */
::-webkit-scrollbar {
    width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

a {
    text-decoration: none;
    color: blue;
}

.expert-navbar {
    position: fixed;
    width: 100%;
    background: rgba(0, 29, 70, 0.4);
    height: 90px;
    z-index: 99;
}

.expert-navbar>nav>div>div>div>ul>li:hover {
    text-decoration: underline;
}

.nav-active {
    background: rgba(19, 99, 223, 0.92);
    height: 70px;
}

.imgLogo {
    width: 30px;
    height: 30px;
}

.header-essme {
    display: flex;
    width: 1800px;
    justify-content: center;
    background-color: black;
    position: fixed;
}

.header-background {
    height: 640px;
    background-image: url("../../../assets/homepage-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
}

.header-background-experts {
    height: 640px;
    background-image: url("../../../assets/expert-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-background-news {
    height: 640px;
    background-image: url("../../../assets/news-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 5px;
}

#main-menu li a {
    padding: 10px 20px;
}

#main-menu li {
    position: relative;
}

.sub-menu {
    position: absolute;
    background-color: whitesmoke;
    padding: 10px 0px;
    list-style: none;
    width: 150px;
    text-decoration: none;
    top: 40px;
    display: none;
    color: black;
}

.sub-menu li:hover {
    background-color: black;
}

.sub-menu li:hover a {
    color: white;
}

.sub-menu ul a {
    padding: 0px;
}

#main-menu li:hover ul {
    display: block;
}

li {
    padding: 10px;
}



.bread-crumb {
    padding-top: 15px;
}

.detail-body {
    margin: auto;
    display: flex;
}

.icon-home {
    padding-top: 10px;
    padding-left: 10px;
}

.line {
    padding-right: 30px;
    padding-left: 30px;
    height: 2px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1363DF;
}

.form-update {
    background-color: #FFFFFF;
    width: 100%;
    /* min-width: 1300px; */
    margin-top: 20px;
    padding: 20px;
}

.pro-title {
    font-family: "Segoe UI";
    font-weight: 500;
    font-size: 20px;
    margin-left: 80px;
    margin-bottom: 10px;
            font-size: 40px;
}

.body-update-profile {
    width: 95%;
    padding-top: 100px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.body-update-profile form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.body-update-profile form button {
    width: 150px;
    margin-bottom: 40px;
}

.wrap-update-profile {
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-update-profile {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    background-color: white;
    height: 40px;
}

.role-update-profile {
    padding-left: 20px;
    align-items: center;
    width: 80%;
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;

}

.choose-role-update-profile {
    flex: 4;
}

.title-role-update-profile {
    flex: 4;
}

.info-update-profile {
    display: flex;
    padding: 20px;
    /* justify-content: center; */
    /* align-items: center; */
    height: 400px;
    width: 100%;
    background-color: transparent;
}

.photo-update-profile {
    flex: 4;
    /* padding: 37px; */
    padding-top: 20px;
    ;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#upload-button {
    background-color: aliceblue;
    color: black;
    margin-top: 20px;
    width: 150px;
}

#upload-button:hover {
    background-color: #2e7cf5;
    color: white;
    border-color: transparent;
}

.info-expert-update-profile {
    flex: 6;
}

.field-input-info {
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.field-input-info input {
    width: 400px;
}

.field-input-info label {
    padding-top: 5px;
    width: 70px;
}

.degree-update-profile {
    flex-direction: column;
    display: flex;
    padding: 20px;
    height: 400px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.field-input-degree {
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    display: flex;

}

.field-input-degree input {
    flex: 15
}

.field-input-degree label {
    flex: 5;
}

.field-input-degree textarea {
    width: 100%;
    height: 100px;
}

.media-update-profile {
    flex-direction: column;
    display: flex;
    padding: 20px;
    min-height: 370px;
    width: 100%;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.field-input-degree label {
    padding-top: 5px;
    width: 70px;
}

.label-input-media {
    display: flex;
}

.field-input-media {
    margin-left: 30px;
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    margin-right: 10px;

}

.field-input-media input {
    width: 249px;
    /* max-width: 330px; */
}

.field-input-media label {
    padding-top: 5px;
    width: 70px;
}


.footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #1363DF;
    color: white;
    height: 300px;
}

.sub-item-footer {
    padding-top: 20px;
}

.item-footer {
    padding-top: 30px;
}

.sub-item-footer span i {
    margin-right: 15px;
}


@media only screen and (max-width: 870px) {

    /* .item-footer {
        padding-top: 30px;
        width: 500px;
    }
    .footer {
        padding-top: 30px;
        display: grid;
        grid-column: 2;
        background-color: #1363DF;
        color: white;
        height: 900px;
    } */
    .info-update-profile {
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
        height: 800px;
        width: 100%;
        background-color: transparent;
    }

    .field-input-media input {
        width: 300px;
        max-width: 330px;
    }

    .label-input-media {
        display: flex;
        flex-direction: column;
    }

    .info-expert-update-profile {
        flex: 6;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .field-input-info {
        margin-left: 0px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
    }
        .pro-title {
            font-family: "Segoe UI";
            font-weight: 500;
            font-size: 40px;
            margin:auto;
        }
}