<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="./css/Answer_Question.css">
</head>
<body>
    <div class="main">
        <!-- Navbar -->
        
        <!-- Body -->
        <div class="answer_question_body">
            <div class="answer_question_logo"> 
                <div class="answer_question_answers">
                    <p class="answer_question_answers_name">ANSWER</p>
                </div>
                <div class="answer_question_questions">
                    <p class="answer_question_questions_name">QUESTION</p>
                </div>
            </div>
        
            <div class="answer_question_body_fame"> 
                <div class="answer_question_body_fame_question">
                    <img class="answer_question_body_fame_question_avatar">
    
                    </img>
                    <input class="answer_question_body_fame_question_input_question" type="text" placeholder="Customer's questions">
                </div>
                <div class="answer_question_body_fame_your_answer">
                    <img class="answer_question_body_fame_question_fix">
    
                    </img>
                    <input class="answer_question_body_fame_your_answer_send" type="text" placeholder="Your answer">

                </div>
                
                <div class="btn_answer_question">
                    <button id="btn_cancel"> 
                        Cancel
                    </button>
                    <button id="btn_send"> 
                        Send
                    </button>
                </div>  
            </div>
        </div>

    </div>
</body>
</html>