<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="./css/Chat_With_Master.css">
</head>
<body>
    <!-- Navbar -->

    <!-- Header -->

    <!-- Body -->
    <div class="body">
        <div class = "body_chats">
            <div class="body_chats_search">
                <div class="body_chats_search_container">
                    <input class="body_chats_search_text" type="text" placeholder="     Seach Order History"></input>
                </div>
                
                <ul class="body_notify">
                    <li class="body_notify_members body_notify_members_view">
                        <a href="" class="body_notify_members_link">
                            <img src="" alt="" class="body_notify_members_link_img">
                            <div class="body_notify_members_info">
                                <span class="body_notify_members_name">Khanh Huyen Trinh</span>
                                <span class="body_notify_members_des">You: Yes sir, many thanks to you!</span>
                            </div>
                            <span class="body_notify_members_time">5m ago</span>
                        </a>
                    </li>
                    <li class="body_notify_members body_notify_members_view">
                        <a href="" class="body_notify_members_link">
                            <img src="" alt="" class="body_notify_members_link_img">
                            <div class="body_notify_members_info">
                                <span class="body_notify_members_name">Khanh Huyen Trinh</span>
                                <span class="body_notify_members_des">You: Yes sir, many thanks to you!</span>
                            </div>
                            <span class="body_notify_members_time">5m ago</span>
                        </a>
                    </li>
                    <li class="body_notify_members ">
                        <a href="" class="body_notify_members_link">
                            <img src="" alt="" class="body_notify_members_link_img">
                            <div class="body_notify_members_info">
                                <span class="body_notify_members_name">Khanh Huyen Trinh</span>
                                <span class="body_notify_members_des">You: Yes sir, many thanks to you!</span>
                            </div>
                            <span class="body_notify_members_time">5m ago</span>
                        </a>
                    </li>
                    <li class="body_notify_members ">
                        <a href="" class="body_notify_members_link">
                            <img src="" alt="" class="body_notify_members_link_img">
                            <div class="body_notify_members_info">
                                <span class="body_notify_members_name">Khanh Huyen Trinh</span>
                                <span class="body_notify_members_des">You: Yes sir, many thanks to you!</span>
                            </div>
                            <span class="body_notify_members_time">5m ago</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="body_view_chat">
                <div class="body_view_chat_info">
                    <a href="" class="body_view_chat_info_link">
                        <img src="" alt="" class="body_view_chat_info_link_img">
                        <div class="body_view_chat_info_link_name">
                            Khanh Huyen Trinh
                        </div>
                    </a>

                </div>
                <div class="line"></div>

                <div class="body_view_chat_box_chat">
                </div>

                <div class="body_view_chat_home">
                    <div class="body_view_chat_from_from">
                        <img src="" alt="" class="body_view_chat_home_from_img">
                        <div class="body_view_chat_home_from_box"></div>
                    </div>
                    <div class="body_view_chat_home_sent">

                    </div>
                    <div class="body_view_chat_home_send">
                        <div class="body_view_chat_home_send_mind"> 
                            
                        </div>
                        <i class="ti-angle-double-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->

    
</body>
</html>