<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="./css/Response_History.css">
</head>
<body>
    <!-- navbar -->

    <!-- header -->
    
    <!-- body -->
    <div class="body">
        <div class="body_chat">
            <ul class="body_notify">
                <li class="body_notify_list_box">
                    <div class="body_notify_chat">

                        <div class="body_notify_chat_A">
                            <img src="" alt="" class="body_notify_chat_A_img">
                            <div class="body_notify_chat_from"></div>
                        </div>

                        <div class="body_notify_chat_B">
                            <div class="body_notify_chat_send"></div>
                        </div>
                    </div>
                    <div class="body_notify_chat_show-chat">Show chat</div>
                </li>
                
                <li class="body_notify_list_box">
                    <div class="body_notify_chat">

                        <div class="body_notify_chat_A">
                            <img src="" alt="" class="body_notify_chat_A_img">
                            <div class="body_notify_chat_from"></div>
                        </div>

                        <div class="body_notify_chat_B">
                            <div class="body_notify_chat_send"></div>
                        </div>
                    </div>
                    <div class="body_notify_chat_show-chat">Show chat</div>
                </li>

                <li class="body_notify_list_box">
                    <div class="body_notify_chat">

                        <div class="body_notify_chat_A">
                            <img src="" alt="" class="body_notify_chat_A_img">
                            <div class="body_notify_chat_from"></div>
                        </div>

                        <div class="body_notify_chat_B">
                            <div class="body_notify_chat_send"></div>
                        </div>
                    </div>
                    <div class="body_notify_chat_show-chat">Show chat</div>
                </li>
                
                <li class="body_notify_list_box">
                    <div class="body_notify_chat">

                        <div class="body_notify_chat_A">
                            <img src="" alt="" class="body_notify_chat_A_img">
                            <div class="body_notify_chat_from"></div>
                        </div>

                        <div class="body_notify_chat_B">
                            <div class="body_notify_chat_send"></div>
                        </div>
                    </div>
                    <div class="body_notify_chat_show-chat">Show chat</div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Footer -->
</body>
</html>