<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../plugin/slick-master/slick-master/slick/slick.css">
    <link rel="stylesheet" href="../../plugin/slick-master/slick-master/slick/slick-theme.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/expert-oexpert-new-eventD.css">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
<div class="expert-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid " style="margin-left:50px;margin-right:50px">
            <a class="navbar-brand" href="#">ESSME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../homepage.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Experts
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="experts.html">Experts</a></li>
                                <li><a class="dropdown-item" href="FQAs.html">FQAs</a></li>
                                <li><a class="dropdown-item" href="order_expert.html">Order Experts</a></li>
                                <li><a class="dropdown-item" href="../expertView/Response_History.html">Response</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="events.html">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="news.html">News</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Language
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">Vietnamese</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.9215 26C14.4846 26 15.7635 24.8427 15.7635 23.4283H10.0795C10.0795 24.8427 11.3584 26 12.9215 26ZM22.158 18.2849V11.2128C22.158 7.22669 19.1739 4.01209 15.053 3.112V2.21191C15.053 1.18323 14.0583 0.283142 12.9215 0.283142C11.7847 0.283142 10.79 1.18323 10.79 2.21191V3.112C6.66911 4.01209 3.68502 7.22669 3.68502 11.2128V18.2849L0.843018 20.8566V22.1425H25V20.8566L22.158 18.2849Z" fill="white"/>
                                </svg>
                            </a>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img class="imgLogo" style="border-radius:30px" src="../../assets/expertimg.png" alt="">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="width:80px;" >
                                <li><a class="dropdown-item" href="../sign_Up_sign_In/update-profile.html">Update profile</a></li>
                                <li><a class="dropdown-item" href="../expertView/Chat_With_Master.html">Chat with Master</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div style=" margin-right:10px"></div>
        </div>
    </nav>
</div>
<script>
    const navbar = document.querySelector('.expert-navbar');
    window.onscroll = () => {
        if (window.scrollY > 10) {
            navbar.classList.add('nav-active');
        } else {
            navbar.classList.remove('nav-active');
        }
    };
</script>
<div class="header-background-experts">
    <span class="essme-expert">
        ESSME EXPERT
    </span>
    <form action="field-result.html" method="get">
    <div style="width: 100%; display: flex;justify-content: center;padding-top: 160px;">
        <div class="searchForm">
            <div>
                <input class="form-control searchByField" placeholder="Search By Fields" />
                <input class="form-control searchByLocation" placeholder="Search By Locations" />
                <button class="searchButton btn btn-primary">
                    <svg style="margin: auto; width: 25px" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.75" clip-path="url(#clip0_2056_431)">
                            <path d="M29.5898 25.9395L23.748 20.0977C23.4844 19.834 23.127 19.6875 22.752 19.6875H21.7969C23.4141 17.6191 24.375 15.0176 24.375 12.1875C24.375 5.45508 18.9199 0 12.1875 0C5.45508 0 0 5.45508 0 12.1875C0 18.9199 5.45508 24.375 12.1875 24.375C15.0176 24.375 17.6191 23.4141 19.6875 21.7969V22.752C19.6875 23.127 19.834 23.4844 20.0977 23.748L25.9395 29.5898C26.4902 30.1406 27.3809 30.1406 27.9258 29.5898L29.584 27.9316C30.1348 27.3809 30.1348 26.4902 29.5898 25.9395ZM12.1875 19.6875C8.04492 19.6875 4.6875 16.3359 4.6875 12.1875C4.6875 8.04492 8.03906 4.6875 12.1875 4.6875C16.3301 4.6875 19.6875 8.03906 19.6875 12.1875C19.6875 16.3301 16.3359 19.6875 12.1875 19.6875Z" fill="black" fill-opacity="0.5"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_2056_431">
                                <rect width="30" height="30" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>

                </button>
            </div>
        </div>
    </div>
    </form>
</div>

<div class="experts-body">
    <div class="bread-crumb">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <div class="icon-home"><i class="fa fa-home"></i></div>
                <li class="breadcrumb-item"><a href="../homepage.html"><span style="color:black">Home</span></a></li>
                <li class="breadcrumb-item" aria-current="page"><span style="color:black">Expert</span></li>
            </ol>
        </nav>
    </div>
    <div class="line"></div>

    <div class="leading-experts-title">LEADING EXPERTS</div>
    <div class="leading-experts-container">
        <div class="leading-list">
            <div>
                <div>
                    <div class="expert-item" onclick="window.location='expertDetail.html'" type="button">
                      <span class="expert-experts-item-title-text">
                        <span>KHANH HUYEN TRINH</span>
                      </span>
                                        <span class="expert-experts-position-text">
                        <span>Professional, Doctor</span>
                      </span>
                                        <span class="expert-experts-work-space-text">
                        <span>Harvard University, Cambridge university, 清华大学</span>
                      </span>
                        <img
                                alt="image42056"
                                src="../../assets/expertimg.png"
                                class="expert-experts-item-image"
                        />
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="expert-item" onclick="window.location='expertDetail.html'" type="button">
                      <span class="expert-experts-item-title-text">
                        <span>KHANH HUYEN TRINH</span>
                      </span>
                        <span class="expert-experts-position-text">
                        <span>Professional, Doctor</span>
                      </span>
                        <span class="expert-experts-work-space-text">
                        <span>Harvard University, Cambridge university, 清华大学</span>
                      </span>
                        <img
                                alt="image42056"
                                src="../../assets/expertimg.png"
                                class="expert-experts-item-image"
                        />
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="expert-item" onclick="window.location='expertDetail.html'" type="button">
                      <span class="expert-experts-item-title-text">
                        <span>KHANH HUYEN TRINH</span>
                      </span>
                        <span class="expert-experts-position-text">
                        <span>Professional, Doctor</span>
                      </span>
                        <span class="expert-experts-work-space-text">
                        <span>Harvard University, Cambridge university, 清华大学</span>
                      </span>
                        <img
                                alt="image42056"
                                src="../../assets/expertimg.png"
                                class="expert-experts-item-image"
                        />
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="expert-item" onclick="window.location='expertDetail.html'" type="button">
                      <span class="expert-experts-item-title-text">
                        <span>KHANH HUYEN TRINH</span>
                      </span>
                        <span class="expert-experts-position-text">
                        <span>Professional, Doctor</span>
                      </span>
                        <span class="expert-experts-work-space-text">
                        <span>Harvard University, Cambridge university, 清华大学</span>
                      </span>
                        <img
                                alt="image42056"
                                src="../../assets/expertimg.png"
                                class="expert-experts-item-image"
                        />
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="expert-item" onclick="window.location='expertDetail.html'" type="button">
                      <span class="expert-experts-item-title-text">
                        <span>KHANH HUYEN TRINH</span>
                      </span>
                        <span class="expert-experts-position-text">
                        <span>Professional, Doctor</span>
                      </span>
                        <span class="expert-experts-work-space-text">
                        <span>Harvard University, Cambridge university, 清华大学</span>
                      </span>
                        <img
                                alt="image42056"
                                src="../../assets/expertimg.png"
                                class="expert-experts-item-image"
                        />
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="expert-item" onclick="window.location='expertDetail.html'" type="button">
                      <span class="expert-experts-item-title-text">
                        <span>KHANH HUYEN TRINH</span>
                      </span>
                        <span class="expert-experts-position-text">
                        <span>Professional, Doctor</span>
                      </span>
                        <span class="expert-experts-work-space-text">
                        <span>Harvard University, Cambridge university, 清华大学</span>
                      </span>
                        <img
                                alt="image42056"
                                src="../../assets/expertimg.png"
                                class="expert-experts-item-image"
                        />
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="expert-item" onclick="window.location='expertDetail.html'" type="button">
                      <span class="expert-experts-item-title-text">
                        <span>KHANH HUYEN TRINH</span>
                      </span>
                        <span class="expert-experts-position-text">
                        <span>Professional, Doctor</span>
                      </span>
                        <span class="expert-experts-work-space-text">
                        <span>Harvard University, Cambridge university, 清华大学</span>
                      </span>
                        <img
                                alt="image42056"
                                src="../../assets/expertimg.png"
                                class="expert-experts-item-image"
                        />
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="expert-item" onclick="window.location='expertDetail.html'" type="button">
                      <span class="expert-experts-item-title-text">
                        <span>KHANH HUYEN TRINH</span>
                      </span>
                        <span class="expert-experts-position-text">
                        <span>Professional, Doctor</span>
                      </span>
                        <span class="expert-experts-work-space-text">
                        <span>Harvard University, Cambridge university, 清华大学</span>
                      </span>
                        <img
                                alt="image42056"
                                src="../../assets/expertimg.png"
                                class="expert-experts-item-image"
                        />
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="expert-item" onclick="window.location='expertDetail.html'" type="button">
                      <span class="expert-experts-item-title-text">
                        <span>KHANH HUYEN TRINH</span>
                      </span>
                        <span class="expert-experts-position-text">
                        <span>Professional, Doctor</span>
                      </span>
                        <span class="expert-experts-work-space-text">
                        <span>Harvard University, Cambridge university, 清华大学</span>
                      </span>
                        <img
                                alt="image42056"
                                src="../../assets/expertimg.png"
                                class="expert-experts-item-image"
                        />
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="expert-item" onclick="window.location='expertDetail.html'" type="button">
                      <span class="expert-experts-item-title-text">
                        <span>KHANH HUYEN TRINH</span>
                      </span>
                        <span class="expert-experts-position-text">
                        <span>Professional, Doctor</span>
                      </span>
                        <span class="expert-experts-work-space-text">
                        <span>Harvard University, Cambridge university, 清华大学</span>
                      </span>
                        <img
                                alt="image42056"
                                src="../../assets/expertimg.png"
                                class="expert-experts-item-image"
                        />
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="expert-item" onclick="window.location='expertDetail.html'" type="button">
                      <span class="expert-experts-item-title-text">
                        <span>KHANH HUYEN TRINH</span>
                      </span>
                        <span class="expert-experts-position-text">
                        <span>Professional, Doctor</span>
                      </span>
                        <span class="expert-experts-work-space-text">
                        <span>Harvard University, Cambridge university, 清华大学</span>
                      </span>
                        <img
                                alt="image42056"
                                src="../../assets/expertimg.png"
                                class="expert-experts-item-image"
                        />
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="expert-item" onclick="window.location='expertDetail.html'" type="button">
                      <span class="expert-experts-item-title-text">
                        <span>KHANH HUYEN TRINH</span>
                      </span>
                        <span class="expert-experts-position-text">
                        <span>Professional, Doctor</span>
                      </span>
                        <span class="expert-experts-work-space-text">
                        <span>Harvard University, Cambridge university, 清华大学</span>
                      </span>
                        <img
                                alt="image42056"
                                src="../../assets/expertimg.png"
                                class="expert-experts-item-image"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="fields-container">
            <input class="form-control"  type="text" placeholder="Enter the field...">
            <span onclick="window.location='experts.html'" type="button">Business</span>
            <span onclick="window.location='experts.html'" type="button">Computer Science</span>
            <span onclick="window.location='experts.html'" type="button">Data Science</span>
        </div>
    </div>
    <div class="map">
        <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=1200&amp;height=500&amp;hl=en&amp;q=2880 Broadway, New York&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://embedmapgenerator.com/">embed google maps in website</a></div><style>.mapouter{position:relative;text-align:right;width:1200px;height:500px;}.gmap_canvas {overflow:hidden;background:none!important;width:1200px;height:500px;}.gmap_iframe {width:1200px!important;height:500px!important;}</style></div>
    </div>
    <div class="events-container">
        <div class="sub-title">Events</div>
        <div class="events">
            <div class="event-list uneven">
                <div>
                    <div class="item-events" type="button" onclick="window.location='eventDetail.html'">
                        <div class="img-events">
                            <img style="width: 260px;height: 180px;border-radius: 20px;" src="../../assets/bgImg.png" alt="">
                        </div>
                        <div class="title-events">
                            Title
                        </div>
                        <div class="detail-events">
                            <img style="width: 20px;height: 20px;" src="../../assets/icon/facebook.png" alt="">
                            <span>Time of events</span>
                        </div>
                        <div class="detail-events">
                            <img style="width: 20px;height: 20px;" src="../../assets/icon/next.png" alt="">
                            <span>location</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item-events" type="button" onclick="window.location='eventDetail.html'">
                        <div class="img-events">
                            <img style="width: 260px;height: 180px;border-radius: 20px;" src="../../assets/bgImg.png" alt="">
                        </div>
                        <div class="title-events">
                            Title
                        </div>
                        <div class="detail-events">
                            <img style="width: 20px;height: 20px;" src="../../assets/icon/facebook.png" alt="">
                            <span>Time of events</span>
                        </div>
                        <div class="detail-events">
                            <img style="width: 20px;height: 20px;" src="../../assets/icon/next.png" alt="">
                            <span>location</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item-events" type="button" onclick="window.location='eventDetail.html'">
                        <div class="img-events">
                            <img style="width: 260px;height: 180px;border-radius: 20px;" src="../../assets/bgImg.png" alt="">
                        </div>
                        <div class="title-events">
                            Title
                        </div>
                        <div class="detail-events">
                            <img style="width: 20px;height: 20px;" src="../../assets/icon/facebook.png" alt="">
                            <span>Time of events</span>
                        </div>
                        <div class="detail-events">
                            <img style="width: 20px;height: 20px;" src="../../assets/icon/next.png" alt="">
                            <span>location</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item-events" type="button" onclick="window.location='eventDetail.html'">
                        <div class="img-events">
                            <img style="width: 260px;height: 180px;border-radius: 20px;" src="../../assets/bgImg.png" alt="">
                        </div>
                        <div class="title-events">
                            Title
                        </div>
                        <div class="detail-events">
                            <img style="width: 20px;height: 20px;" src="../../assets/icon/facebook.png" alt="">
                            <span>Time of events</span>
                        </div>
                        <div class="detail-events">
                            <img style="width: 20px;height: 20px;" src="../../assets/icon/next.png" alt="">
                            <span>location</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item-events" type="button" onclick="window.location='eventDetail.html'">
                        <div class="img-events">
                            <img style="width: 260px;height: 180px;border-radius: 20px;" src="../../assets/bgImg.png" alt="">
                        </div>
                        <div class="title-events">
                            Title
                        </div>
                        <div class="detail-events">
                            <img style="width: 20px;height: 20px;" src="../../assets/icon/facebook.png" alt="">
                            <span>Time of events</span>
                        </div>
                        <div class="detail-events">
                            <img style="width: 20px;height: 20px;" src="../../assets/icon/next.png" alt="">
                            <span>location</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="item-events" type="button" onclick="window.location='eventDetail.html'">
                        <div class="img-events">
                            <img style="width: 260px;height: 180px;border-radius: 20px;" src="../../assets/bgImg.png" alt="">
                        </div>
                        <div class="title-events">
                            Title
                        </div>
                        <div class="detail-events">
                            <img style="width: 20px;height: 20px;" src="../../assets/icon/facebook.png" alt="">
                            <span>Time of events</span>
                        </div>
                        <div class="detail-events">
                            <img style="width: 20px;height: 20px;" src="../../assets/icon/next.png" alt="">
                            <span>location</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="news-container">
        <div class="sub-title">News</div>
        <div class="body-news">
            <div class="list-item-news">
                <div class="item-news" type="button" onclick="window.location='https://vietnamnews.vn/society/1314811/2-013-new-covid-19-cases-one-death-reported-on-monday.html'">
                    <div class="title-item-news"><span>this is title of the news</span></div>
                    <div class="detail-item-news">
                        <img class="img-news" src="../../assets/bgImg.png" alt="">
                        <div class="sub-detail-item-news">
                            <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                            <div class="time-item-news"><span>03/11/2021</span></div>
                        </div>
                    </div>
                </div>
                <div class="item-news" type="button" onclick="window.location='https://vietnamnews.vn/society/1314811/2-013-new-covid-19-cases-one-death-reported-on-monday.html'">
                    <div class="title-item-news"><span>this is title of the news</span></div>
                    <div class="detail-item-news">
                        <img class="img-news" src="../../assets/bgImg.png" alt="">
                        <div class="sub-detail-item-news">
                            <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                            <div class="time-item-news"><span>03/11/2021</span></div>
                        </div>
                    </div>
                </div>
                <div class="item-news" type="button" onclick="window.location='https://vietnamnews.vn/society/1314811/2-013-new-covid-19-cases-one-death-reported-on-monday.html'">
                    <div class="title-item-news"><span>this is title of the news</span></div>
                    <div class="detail-item-news">
                        <img class="img-news" src="../../assets/bgImg.png" alt="">
                        <div class="sub-detail-item-news">
                            <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                            <div class="time-item-news"><span>03/11/2021</span></div>
                        </div>
                    </div>
                </div>
                <div class="item-news" type="button" onclick="window.location='https://vietnamnews.vn/society/1314811/2-013-new-covid-19-cases-one-death-reported-on-monday.html'">
                    <div class="title-item-news"><span>this is title of the news</span></div>
                    <div class="detail-item-news">
                        <img class="img-news" src="../../assets/bgImg.png" alt="">
                        <div class="sub-detail-item-news">
                            <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                            <div class="time-item-news"><span>03/11/2021</span></div>
                        </div>
                    </div>
                </div>
                <div class="item-news" type="button" onclick="window.location='https://vietnamnews.vn/society/1314811/2-013-new-covid-19-cases-one-death-reported-on-monday.html'">
                    <div class="title-item-news"><span>this is title of the news</span></div>
                    <div class="detail-item-news">
                        <img class="img-news" src="../../assets/bgImg.png" alt="">
                        <div class="sub-detail-item-news">
                            <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                            <div class="time-item-news"><span>03/11/2021</span></div>
                        </div>
                    </div>
                </div>
                <div class="item-news" type="button" onclick="window.location='https://vietnamnews.vn/society/1314811/2-013-new-covid-19-cases-one-death-reported-on-monday.html'">
                    <div class="title-item-news"><span>this is title of the news</span></div>
                    <div class="detail-item-news">
                        <img class="img-news" src="../../assets/bgImg.png" alt="">
                        <div class="sub-detail-item-news">
                            <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                            <div class="time-item-news"><span>03/11/2021</span></div>
                        </div>
                    </div>
                </div>
                <div class="item-news" type="button" onclick="window.location='https://vietnamnews.vn/society/1314811/2-013-new-covid-19-cases-one-death-reported-on-monday.html'">
                    <div class="title-item-news"><span>this is title of the news</span></div>
                    <div class="detail-item-news">
                        <img class="img-news" src="../../assets/bgImg.png" alt="">
                        <div class="sub-detail-item-news">
                            <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                            <div class="time-item-news"><span>03/11/2021</span></div>
                        </div>
                    </div>
                </div>

                <div class="item-news" type="button" onclick="window.location='https://vietnamnews.vn/society/1314811/2-013-new-covid-19-cases-one-death-reported-on-monday.html'">
                    <div class="title-item-news"><span>this is title of the news</span></div>
                    <div class="detail-item-news">
                        <img class="img-news" src="../../assets/bgImg.png" alt="">
                        <div class="sub-detail-item-news">
                            <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                            <div class="time-item-news"><span>03/11/2021</span></div>
                        </div>
                    </div>
                </div>
                <div class="item-news" type="button" onclick="window.location='https://vietnamnews.vn/society/1314811/2-013-new-covid-19-cases-one-death-reported-on-monday.html'">
                    <div class="title-item-news"><span>this is title of the news</span></div>
                    <div class="detail-item-news">
                        <img class="img-news" src="../../assets/bgImg.png" alt="">
                        <div class="sub-detail-item-news">
                            <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                            <div class="time-item-news"><span>03/11/2021</span></div>
                        </div>
                    </div>
                </div>
                <div class="item-news" type="button" onclick="window.location='https://vietnamnews.vn/society/1314811/2-013-new-covid-19-cases-one-death-reported-on-monday.html'">
                    <div class="title-item-news"><span>this is title of the news</span></div>
                    <div class="detail-item-news">
                        <img class="img-news" src="../../assets/bgImg.png" alt="">
                        <div class="sub-detail-item-news">
                            <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                            <div class="time-item-news"><span>03/11/2021</span></div>
                        </div>
                    </div>
                </div>
                <div class="item-news" type="button" onclick="window.location='https://vietnamnews.vn/society/1314811/2-013-new-covid-19-cases-one-death-reported-on-monday.html'">
                    <div class="title-item-news"><span>this is title of the news</span></div>
                    <div class="detail-item-news">
                        <img class="img-news" src="../../assets/bgImg.png" alt="">
                        <div class="sub-detail-item-news">
                            <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                            <div class="time-item-news"><span>03/11/2021</span></div>
                        </div>
                    </div>
                </div>
                <div class="item-news" type="button" onclick="window.location='https://vietnamnews.vn/society/1314811/2-013-new-covid-19-cases-one-death-reported-on-monday.html'">
                    <div class="title-item-news"><span>this is title of the news</span></div>
                    <div class="detail-item-news">
                        <img class="img-news" src="../../assets/bgImg.png" alt="">
                        <div class="sub-detail-item-news">
                            <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                            <div class="time-item-news"><span>03/11/2021</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-news">
            <span onclick="window.location='news.html'" type="button">Show More</span>
        </div>
    </div>
</div>

<div class="footer">
    <div class="item-footer">
        <div><span>Feature</span></div><br>
        <div class="sub-item-footer">
            <div><span>Find an Expert</span></div><br>
            <span>Find Events</span><br>
        </div>
    </div>
    <div class="item-footer">
        <div><span>Discover</span></div><br>
        <div class="sub-item-footer">
            <div><span>Security</span></div><br>
            <div></div><span>Sponsor</span><br>
        </div>
    </div>
    <div class="item-footer">
        <div><span>Information</span></div><br>
        <div class="sub-item-footer">
            <div><span>Rules</span></div><br>
            <span>About us</span><br>
        </div>
    </div>
    <div class="item-footer">
        <div><span>Community</span></div><br>
        <div class="sub-item-footer">
            <div><img style="width: 25px;height: 25px;" src="../../assets/icon/facebook.png" alt=""> <span
                    style="padding-right:5px"></span></i><span>Facebook</span></div><br>
            <div><img style="width: 25px;height: 25px;" src="../../assets/icon/twitter.png" alt=""> <span
                    style="padding-right:5px"></span></i><span>Twitter</span></div><br>
            <div><img style="width: 25px;height: 25px;" src="../../assets/icon/linkedin.png" alt=""> <span
                    style="padding-right:5px"></span></i><span>Linkedln</span></div><br>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="  crossorigin="anonymous"></script>
<script src="../../plugin/slick-master/slick-master/slick/slick.js"></script>
<script>
    $(document).ready(function(){
        $('.uneven').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            // prev arrow
            prevArrow: '<button type="button" data-role="none" class="slick-prev"> Previous </button>',

            // next arrow
            nextArrow: '<button type="button" data-role="none" class="slick-next"> Next </button>',

        });
    });
</script>
</body>

</html>