<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../plugin/slick-master/slick-master/slick/slick.css">
    <link rel="stylesheet" href="../plugin/slick-master/slick-master/slick/slick-theme.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/expertDetail.css">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="expert-navbar">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid " style="margin-left:50px;margin-right:50px">
                <a class="navbar-brand" href="#">ESSME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../homepage.html">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Experts
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="experts.html">Experts</a></li>
                                    <li><a class="dropdown-item" href="FQAs.html">FQAs</a></li>
                                    <li><a class="dropdown-item" href="order_expert.html">Order Experts</a></li>
                                    <li><a class="dropdown-item" href="../expertView/Response_History.html">Response</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="events.html">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="news.html">News</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Language
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">English</a></li>
                                    <li><a class="dropdown-item" href="#">Vietnamese</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link " href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg width="25" height="26" viewBox="0 0 25 26" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.9215 26C14.4846 26 15.7635 24.8427 15.7635 23.4283H10.0795C10.0795 24.8427 11.3584 26 12.9215 26ZM22.158 18.2849V11.2128C22.158 7.22669 19.1739 4.01209 15.053 3.112V2.21191C15.053 1.18323 14.0583 0.283142 12.9215 0.283142C11.7847 0.283142 10.79 1.18323 10.79 2.21191V3.112C6.66911 4.01209 3.68502 7.22669 3.68502 11.2128V18.2849L0.843018 20.8566V22.1425H35V20.8566L22.158 18.2849Z"
                                            fill="white" />
                                    </svg>
                                </a>

                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link " href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="imgLogo" style="border-radius:30px" src="../../assets/expertimg.png"
                                        alt="">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"
                                    style="width:80px;">
                                    <li><a class="dropdown-item" href="../sign_Up_sign_In/update-profile.html">Update
                                            profile</a></li>
                                    <li><a class="dropdown-item" href="../expertView/Chat_With_Master.html">Chat with
                                            Master</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style=" margin-right:10px"></div>
            </div>
        </nav>
    </div>
    <script>
        const navbar = document.querySelector('.expert-navbar');
        window.onscroll = () => {
            if (window.scrollY > 10) {
                navbar.classList.add('nav-active');
            } else {
                navbar.classList.remove('nav-active');
            }
        };
    </script>

    <div class="detail-body">
        <div style="height:90px">
        </div>
        <div class="bread-crumb">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <div class="icon-home"><i class="fa fa-home"></i></div>
                    <li class="breadcrumb-item"><a href="../homepage.html"><span style="color:black">Home</span></a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page"><a href="experts.html"><span
                                style="color:black">Expert</span></a></li>
                    <li class="breadcrumb-item "><span style="color:black">Trinh Van Quyet</span></li>
                </ol>
            </nav>
        </div>
        <div class="line"></div>
        <div class="profile">
            <div class="image-profile">
                <div class="img-item-profile">
                    <img src="../../assets/bgImg.png" alt="" style="width:300px;height:300px">
                </div>
                <div class="name-item-profile">
                    <span> Trinh Van Quyet</span>
                </div>
                <div class="job-item-profile">
                    <span style=" -webkit-line-clamp: 2;">Research assistant professor of computer </span>
                </div>
                <div class="professor-location-email-item-profile">
                    <img style="width: 25px;height: 25px; " src="../../assets/icon/facebook.png" alt=""> <span
                        style="padding-right:5px">
                        <span style=" padding:10px">Professor</span>
                </div>
                <div class="professor-location-email-item-profile">
                    <img style="width: 25px;height: 25px; " src="../../assets/icon/facebook.png" alt=""> <span
                        style="padding-right:5px">
                        <span style=" padding:10px">Center for Urban Science + Progress, New York University, United
                            States</span>
                </div>
                <div class="professor-location-email-item-profile">
                    <img style="width: 25px;height: 25px; " src="../../assets/icon/facebook.png" alt=""> <span
                        style="padding-right:5px">
                        <span style=" padding:10px">Professor</span>
                </div>

            </div>
            <div class="detail-profile">
                <div class="intro-social-profile">
                    <div class="button-intro-profile" onclick="window.location='expertDetail.html'" type="button">
                        <img src="../../assets/icon/back.png" alt="">
                    </div>
                    <div>
                        <div class="intro-profile">
                            <div class="title-detail-profile">
                                <span>INTRODUCTION</span>
                            </div>
                            <div class="detail-intro-profile">
                                <div class="sub-title-intro-profile">
                                    <span>Appelation</span>
                                </div>
                                <div class="sub-content-intro-profile">
                                    <span>Research assistant professor of computer</span>
                                </div>
                            </div>
                            <div class="detail-intro-profile">
                                <div class="sub-title-intro-profile">
                                    <span>Position</span>
                                </div>
                                <div class="sub-content-intro-profile">
                                    <span>Assistant Professor</span>
                                </div>
                            </div>
                            <div class="detail-intro-profile">
                                <div class="sub-title-intro-profile">
                                    <span>Affliate</span>
                                </div>
                                <div class="sub-content-intro-profile">
                                    <span>New York University</span>
                                </div>
                            </div>
                            <div class="detail-intro-profile">
                                <div class="sub-title-intro-profile">
                                    <span>Expertise</span>
                                </div>
                                <div class="sub-content-intro-profile">
                                    <span>Researcher</span>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="social-profile">
                            <div class="title-detail-profile">
                                <span>SOCIAL MEDIA</span>
                            </div>
                            <div class="detail-social-profile">
                                <div class="sub-content-social-profile">
                                    <div style="width:35px">
                                        <img style="width: 25px;height: 25px; " src="../../assets/icon/facebook.png"
                                            alt="">
                                        <span style="padding-right:5px">
                                    </div>
                                    <span>Research assistant professor of computer</span>
                                </div>
                            </div>
                            <div class="detail-social-profile">
                                <div class="sub-content-social-profile">
                                    <div style="width:35px">
                                        <img style="width: 25px;height: 25px; " src="../../assets/icon/facebook.png"
                                            alt="">
                                        <span style="padding-right:5px">
                                    </div>
                                    <span>Assistant Professor</span>
                                </div>
                            </div>
                            <div class="detail-social-profile">
                                <div class="sub-content-social-profile">
                                    <div style="width:35px">
                                        <img style="width: 25px;height: 25px; " src="../../assets/icon/twitter.png"
                                            alt="">
                                        <span style="padding-right:5px">
                                    </div>
                                    <span>Assistant Professor</span>
                                </div>
                            </div>
                            <div class="detail-social-profile">
                                <div class="sub-content-social-profile">
                                    <div style="width:35px">
                                        <img style="width: 25px;height: 25px; " src="../../assets/icon/linkedin.png"
                                            alt="">
                                        <span style="padding-right:5px">
                                    </div>
                                    <span>Assistant Professor</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-intro-profile" onclick="window.location='expertDetail.html'" type="button">
                        <img src="../../assets/icon/next.png" alt="">
                    </div>
                </div>
                <div class="order-profile">
                    <div class="title-detail-profile">
                        <span >ORDER EXPERT</span>
                    </div>
                    <div style="display:flex; justify-content: center;align-items: center">
                        <textarea class="form-control" rows="6" cols="50"
                            placeholder="Enter your requirement ..."></textarea>
                    </div>
                    <div style="display:flex; justify-content: center;align-items: center;padding:30px">
                        <button class="btn btn-primary">SEND</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="related-experts">
            <div class="title-detail-profile">
                <span>RELATED EXPERTS</span>
            </div>
            <div class="list-related-experts">
                <div class="card-wrapper">
                    <div class="card-related" onclick="window.location='expertDetail.html'" type="button">
                        <div class="info-related">
                            <div class="name-related">name</div>
                            <div class="job-related"> job</div>
                            <div class="location-related">location</div>
                        </div>
                        <div class="img-related"> <img src="../../../assets/bgImg.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="footer">
        <div class="item-footer">
            <div>
                <h3>Feature</h3>
            </div><br>
            <div class="sub-item-footer">
                <div><span><i class="fa-solid fa-magnifying-glass"></i>Find an Expert</span></div><br>
                <div><span><i class="fa-solid fa-magnifying-glass"></i>Find Events</span></div><br>
            </div>
        </div>
        <div class="item-footer">
            <div>
                <h3>Discover</h3>
            </div><br>
            <div class="sub-item-footer">
                <div><span><i class="fa-solid fa-shield-halved"></i>Security</span></div><br>
                <div></div><span><i class="fa-solid fa-people-group"></i>Sponsor</span><br>
            </div>
        </div>
        <div class="item-footer">
            <div>
                <h3>Information</h3>
            </div><br>
            <div class="sub-item-footer">
                <div><span><i class="fa-solid fa-scale-balanced"></i>Rules</span></div><br>
                <span><i class="fa-regular fa-address-card"></i>About us</span><br>
            </div>
        </div>
        <div class="item-footer">
            <div>
                <h3>Community</h3>
            </div><br>
            <div class="sub-item-footer">
                <div id="facebook"><span><i class="fa-brands fa-square-facebook"></i>Facebook</span></div><br>
                <div id="twitter"><span><i class="fa-brands fa-square-twitter"></i>Twitter</span></div><br>
                <div id="linkedin"><span><i class="fa-brands fa-linkedin"></i>Linkedln</span></div><br>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../../plugin/slick-master/slick-master/slick/slick.js"></script>
    <script>
        function imgErr(e, num) {
            if (num == 0)
                e.target.src = "https://scholar.google.com/citations/images/avatar_scholar_56.png";
            else if (num == 1)
                e.target.src = "https://picjumbo.com/wp-content/uploads/beautiful-green-field-scenery-free-photo-2210x1473.jpg";
            else if (num == 2)
                e.target.src = "https://blog.topcv.vn/wp-content/uploads/2019/02/nhan-vien-to-chuc-su-kien.jpg";
            e.onerror = null;
        }

        $(document).ready(function () {
            $.ajax({
                url: "http://fe.luanbt.live:8007/api/homepage",
                type: "GET"
            }).done(function (data) {
                console.log(data);
                let topexperts = data.top_experts;
                let topevents = data.top_events;
                let topnews = data.top_news;
                let fields = data.fields;
                let footer = data.footer;

                //______________EXPERT
                console.log(topexperts[0]);
                $(".leading-list").empty();
                $.each(topexperts, function (i, v) {
                    let research_area = "";
                    $.each(v.research_area, function (i, v) {
                        research_area += ", " + v;
                    })
                    $(".leading-list").append("\n<div>\n" +
                        "                <a href=\"customerView/expertDetail.html\">\n" +
                        "                <div>\n" +
                        "                  <div class=\"expert-item\">\n" +
                        "                        <span class=\"expert-experts-item-title-text\">\n" +
                        "                          <span>" + v.name + "</span>\n" +
                        "                        </span>\n" +
                        "                    <span class=\"expert-experts-position-text\">\n" +
                        "                          <span>" + v.degree + research_area + "</span>\n" +
                        "                        </span>\n" +
                        "                    <span class=\"expert-experts-work-space-text\">\n" +
                        "                          <span>" + v.company + "</span>\n" +
                        "                        </span>\n" +
                        "                    <img\n" +
                        "                            alt=\"image42056\"\n" +
                        "                            src=\"" + v.img + "\"\n" +
                        "                            class=\"expert-experts-item-image\" onerror='imgErr(event,0)' \n" +
                        "                    />\n" +
                        "                  </div>\n" +
                        "                </div>\n" +
                        "                </a>\n" +
                        "            </div>")
                });


                
                //__________Footer
                $("#facebook").wrap("<a href='" + footer.facebook + "' style='text-decoration: none; color: white;'></a>");
                $("#twitter").wrap("<a href='" + footer.twitter + "' style='text-decoration: none; color: white;'></a>");
                $("#linkedin").wrap("<a href='" + footer.linkedin + "' style='text-decoration: none; color: white;'></a>");
            }).fail(function (xhr, status, errorThrown) {
            }).always(function (xhr, status) {
                console.log("The request is complete!")
                $('.uneven').slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    // prev arrow
                    prevArrow: '<button type="button" data-role="none" class="slick-prev"> Previous </button>',

                    // next arrow
                    nextArrow: '<button type="button" data-role="none" class="slick-next"> Next </button>',
                });
            });




            $.ajax({
                url: "http://fe.luanbt.live:8007/api/experts?limit=3",
                type: "GET"

            }).done(function (data) {
                $(".list-related-experts").empty();

                $.each(data, function (i, v) {
                    $(".list-related-experts").append("\n<div class=\"card-wrapper\">\n" + 
                        "           <div class=\"card-related\" onclick=\"window.location = 'expertDetail.html'\" type=\"button\">\n" + 
                        "          <div class=\"info-related\">\n" + 
                        "        <div class=\"name-related\">" + v.name + "</div>\n" + 
                        "        <div class=\"job-related\">" + v.research_area[0] + "</div>\n" + 
                        "        <div class=\"location-related\">" + v.company + "</div>\n" + 
                        "          </div>\n" + "  <div class=\"img-related\"> <img src='" + v.img + "' ></div>\n" + 
                            "     </div>\n" + "</div>\n"
                    );



                });

            }).fail(function (xhr, status, errorThrown) {
                $(".list-related-experts").html("Sorry, there was a problem!")

            }).always(function (xhr, status) {
                console.log("The request is complete!")
            });


            $.ajax({
                url: "http://fe.luanbt.live:8007/api/news?limit=15",
                type: "GET"
            }).done(function (data) {
                //___________New
                console.log(data[0]);
                $(".list-item-news").empty();
                $.each(data, function (i, v) {
                    $(".list-item-news").append("<a style=\"text-decoration: none;color: black\" href=\"" + v.url + "\">\n" +
                        "          <div class=\"item-news\">\n" +
                        "            <div class=\"title-item-news\"><span>" + v.title + "</span></div>\n" +
                        "            <div class=\"detail-item-news\">\n" +
                        "              <img class=\"img-news\" src=\"" + v.img + "\" alt=\"\">\n" +
                        "              <div class=\"sub-detail-item-news\">\n" +
                        "                <div class=\"sub-title-item-news\"><span>" + v.content + "</span></div>\n" +
                        "                <div class=\"time-item-news\"><span>" + v.tag + "</span></div>\n" +
                        "              </div>\n" +
                        "            </div>\n" +
                        "          </div>\n" +
                        "          </a>")
                });
            }).fail(function (xhr, status, errorThrown) {
                $("#title").html("Sorry, there was a problem!")
            }).always(function (xhr, status) {
                console.log("The request is complete!")
            });


            $.ajax({
                url: "http://fe.luanbt.live:8007/api/questions?limit=3&sort=createdAt&desc=false",
                type: "GET"
            }).done(function (data) {
                //___________Question
                console.log(data[0]);
                $(".questions-list").empty();
                $.each(data, function (i, v) {
                    $(".questions-list").append("<div class=\"question-answer-card\" onclick=\"window.location='expertView/Answer_Question.html'\" type=\"button\">\n" +
                        "        <div class=\"question-field\">\n" +
                        "          <img style=\"width: 15px;height: 15px;margin:5px\" src=\"../../assets/icon/reset-icon.png\" alt=\"\">\n" +
                        "          <span>" + v.Description + "</span>\n" +
                        "        </div>\n" +
                        "        <div class=\"answer-field\">\n" +
                        "          <img style=\"width: 15px;height: 15px;margin:5px\" src=\"../../assets/icon/reset-icon.png\" alt=\"\">\n" +
                        "          <span>" + v.answers[0].answer + "</span>\n" +
                        "        </div>\n" +
                        "      </div>");
                });
            }).fail(function (xhr, status, errorThrown) {
                $("#title").html("Sorry, there was a problem!")
            }).always(function (xhr, status) {
                console.log("The request is complete!")
            });
        });
    </script>
</body>

</html>