<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/FQAs.css">
</head>

<body>
    <div class="navbar-essme">
        <div class="header-essme">
            <div class="container-essme">
                <a href="#">
                    <div class="logo">
                        <img class="imgLogo" src="https://img.vn/uploads/thuvien/singa-png-20220719150401Tdj1WAJFQr.png"
                            alt="img">
                    </div>
                </a>
                <ul id="main-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Experts</a>
                        <ul class="sub-menu">
                            <li><a href="#">FQAs </a></li>
                            <li><a href="#">Order Expert</a></li>
                            <li><a href="#">Response</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Language</a>
                        <ul class="sub-menu">
                            <li><a href="#">Vietnamese</a></li>
                            <li><a href="#">English</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Icon</a></li>
                    <li><a href="#">Login</a>
                        <ul class="sub-menu">
                            <li><a href="#">Profile Setting</a></li>
                            <li><a href="#">Oder History</a></li>
                            <li><a href="#">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="detail-body">
        <div class="bread-crumb">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <div class="icon-home"><i class="fa fa-home"></i></div>
                    <li class="breadcrumb-item"><a href="#"><span style="color:black">Home</span></a></li>
                    <li class="breadcrumb-item" aria-current="page"><span style="color:black">Expert</span></li>
                    <li class="breadcrumb-item "><a href="#"><span style="color:black">Trinh Van Quyet</span></a></li>
                </ol>
            </nav>
        </div>
        <div class="line"></div>

        <div style="width: 100%; display: flex;justify-content: center;padding-top: 40px;padding-bottom: 150px;">
            <div class="searchForm">
                <div>
                    <input class="searchByField" placeholder="Search By Fields" />
                    <input class="searchByLocation" placeholder="Search By Locations" />
                    <div class="searchButton">
                        <img style="width: 25px;height: 25px;" src="../../assets/icon/search-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-field">
            <div class="field"><span>Occupation</span>
                <div class="icon-filter"><img style="width: 15px;height: 15px;" src="../../assets/icon/go-down.png"
                        alt=""></div>
            </div>
            <div class="field"><span>Fields</span>
                <div class="icon-filter"><img style="width: 15px;height: 15px;" src="../../assets/icon/go-down.png"
                        alt=""></div>
            </div>
            <div class="field"><span>Country</span>
                <div class="icon-filter"><img style="width: 15px;height: 15px;" src="../../assets/icon/go-down.png"
                        alt=""></div>
            </div>
            <div class="field"><span>Others</span>
                <div class="icon-filter"><img style="width: 15px;height: 15px;" src="../../assets/icon/filter-icon.png"
                        alt=""></div>
            </div>
            <div class="field"><span>Reset</span>
                <div class="icon-filter"><img style="width: 15px;height: 15px;" src="../../assets/icon/reset-icon.png"
                        alt=""></div>
            </div>
        </div>
        <div class="question-FQAs">
            <div class="title-FQAs">
                <span>Question and Answer</span>
            </div>
            <div class="question-answer-card">
                <div class="question-field">
                    <img style="width: 15px;height: 15px;margin:5px" src="../../assets/icon/reset-icon.png" alt="">
                    <span>Question</span>
                </div>
                <div class="answer-field">
                    <img style="width: 15px;height: 15px;margin:5px" src="../../assets/icon/reset-icon.png" alt="">
                    <span>Answer</span>
                </div>
                <div class="answer-field">

                </div>
            </div>
            <div class="question-answer-card">
                <div class="question-field">
                    <img style="width: 15px;height: 15px;margin:5px" src="../../assets/icon/reset-icon.png" alt="">
                    <span>Question</span>
                </div>
                <div class="answer-field">
                    <img style="width: 15px;height: 15px;margin:5px" src="../../assets/icon/reset-icon.png" alt="">
                    <span>Answer</span>
                </div>
                <div class="answer-field">

                </div>
            </div>
            <div class="question-answer-card">
                <div class="question-field">
                    <img style="width: 15px;height: 15px;margin:5px" src="../../assets/icon/reset-icon.png" alt="">
                    <span>Question</span>
                </div>
                <div class="answer-field">
                    <img style="width: 15px;height: 15px;margin:5px" src="../../assets/icon/reset-icon.png" alt="">
                    <span>Answer</span>
                </div>
                <div class="answer-field">

                </div>
            </div>
            <div class="see-more-FQAs">
                <span>See more</span>
            </div>
        </div>

        <div class="your-question">
            <div class="title-FQAs">
                <span>Ask your questions</span>
            </div>
            <h1></h1>
            <div style="display:flex; justify-content: center;align-items: center;border-radius: 30px;margin-top: 30px">
                <textarea class="form-control" placeholder="Describe yourself here..." rows="4"></textarea>
            </div>
            <div style="display:flex; justify-content: center;align-items: center;border-radius: 30px;margin-top:20px;">
                <textarea class="form-control" placeholder="Choose the field..." rows="1" ></textarea>
            </div>
            <div style="display:flex; justify-content: center;align-items: center;padding:30px">
                <button class="btn btn-primary">SEND</button>
            </div>
        </div>

    </div>






    </div>

    <div class="footer">
        <div class="item-footer">
            <div><span>Feature</span></div><br>
            <div class="sub-item-footer">
                <div><span>Find an Expert</span></div><br>
                <span>Find Events</span><br>
            </div>
        </div>
        <div class="item-footer">
            <div><span>Discover</span></div><br>
            <div class="sub-item-footer">
                <div><span>Security</span></div><br>
                <div></div><span>Sponsor</span><br>
            </div>
        </div>
        <div class="item-footer">
            <div><span>Information</span></div><br>
            <div class="sub-item-footer">
                <div><span>Rules</span></div><br>
                <span>About us</span><br>
            </div>
        </div>
        <div class="item-footer">
            <div><span>Community</span></div><br>
            <div class="sub-item-footer">
                <div><img style="width: 25px;height: 25px;" src="../../assets/icon/facebook.png" alt=""> <span
                        style="padding-right:5px"></span></i><span>Facebook</span></div><br>
                <div><img style="width: 25px;height: 25px;" src="../../assets/icon/twitter.png" alt=""> <span
                        style="padding-right:5px"></span></i><span>Twitter</span></div><br>
                <div><img style="width: 25px;height: 25px;" src="../../assets/icon/linkedin.png" alt=""> <span
                        style="padding-right:5px"></span></i><span>Linkedln</span></div><br>
            </div>

        </div>
    </div>
</body>

</html>