<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../plugin/slick-master/slick-master/slick/slick.css">
    <link rel="stylesheet" href="../../plugin/slick-master/slick-master/slick/slick-theme.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/expertDetail.css">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body class="news-body">
<div class="expert-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid " style="margin-left:50px;margin-right:50px">
            <a class="navbar-brand" href="#">ESSME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../homepage.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Experts
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="experts.html">Experts</a></li>
                                <li><a class="dropdown-item" href="FQAs.html">FQAs</a></li>
                                <li><a class="dropdown-item" href="order_expert.html">Order Experts</a></li>
                                <li><a class="dropdown-item" href="response-history.html">Response</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="events.html">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="news.html">News</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Language
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">Vietnamese</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img class="imgLogo" src="../assets/eventimg.png" alt="">
                            </a>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img class="imgLogo" style="border-radius:30px" src="../assets/eventimg.png" alt="">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:80px" >
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div style=" margin-right:10px"></div>
        </div>
    </nav>
</div>
<script>
    const navbar = document.querySelector('.expert-navbar');
    window.onscroll = () => {
        if (window.scrollY > 10) {
            navbar.classList.add('nav-active');
        } else {
            navbar.classList.remove('nav-active');
        }
    };
</script>
<div class="header-background-news">
    <span class="essme-new">
        ESSME <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;News
    </span>
</div>

<div class="new-page-body">
    <div class="bread-crumb">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <div class="icon-home"><i class="fa fa-home"></i></div>
                <li class="breadcrumb-item"><a href="#"><span style="color:black">Home</span></a></li>
                <li class="breadcrumb-item" aria-current="page"><span style="color:black">News</span></li>
            </ol>
        </nav>
    </div>
    <div class="line"></div>
    <div class="news-containers">
        <div class="news-group">
            <div class="hot-news">
                <div class="head-new">
                    <div class="expert-hotnew">
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/57f68da7-8d1f-4095-acf2-c6762b7afbd0?org_if_sml=1382"
                                alt="Ellipse48001"
                                class="expert-hotnew-ellipse"
                        />
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/c97ff9c7-be10-4893-8c83-b7e9ef298e98?org_if_sml=1337"
                                alt="Ellipse58002"
                                class="expert-hotnew-ellipse1"
                        />
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/0286a7ba-90d0-44e6-aedd-0b051b0478fc?org_if_sml=1382"
                                alt="Ellipse38001"
                                class="expert-hot-new-ellipse"
                        />
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/6f7ada21-f885-4507-9394-a4c9029c0a44?org_if_sml=1275761"
                                alt="Rectangle1638021"
                                class="expert-hotnew-image"
                        />
                        <span class="expert-hotnew-title-text">
                            <span>TPHCM ghi nhận 5 ca nhiễm Omicron</span>
                        </span>
                        <span class="expert-hotnew-text">
                            <span>
                              Sáng 1/1, Chủ tịch UBND TP HCM Phan Văn Mãi cho biết, thành phố đã ghi
                              nhận 5 ca nghi mắc Covid-19 biến chủng Omicron, các biện pháp phòng
                              ngừa liên quan đã được kích hoạt.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="hot-news-list">
                    <div>
                        <div class="hotnew-item">
                            <img
                                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/9650407b-9111-4284-93c1-a0a8fcf9e050?org_if_sml=146703"
                                    alt="Rectangle1618029"
                                    class="hotnew-item-image"
                            />
                            <span class="hotnew-item-title">
                                <span>9 mục tiêu y tế TP HCM năm 2022</span>
                            </span>
                            <span class="hotnew-item-text">
                                <span>
                                  Đánh giá khó dự báo Covid-19 trong năm 2022, Sở Y tế TP HCM đề ra 9
                                  mục tiêu, ...
                                </span>
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="hotnew-item">
                            <img
                                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/9650407b-9111-4284-93c1-a0a8fcf9e050?org_if_sml=146703"
                                    alt="Rectangle1618029"
                                    class="hotnew-item-image"
                            />
                            <span class="hotnew-item-title">
                                <span>9 mục tiêu y tế TP HCM năm 2022</span>
                            </span>
                            <span class="hotnew-item-text">
                                <span>
                                  Đánh giá khó dự báo Covid-19 trong năm 2022, Sở Y tế TP HCM đề ra 9
                                  mục tiêu, ...
                                </span>
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="hotnew-item">
                            <img
                                    src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/9650407b-9111-4284-93c1-a0a8fcf9e050?org_if_sml=146703"
                                    alt="Rectangle1618029"
                                    class="hotnew-item-image"
                            />
                            <span class="hotnew-item-title">
                                <span>9 mục tiêu y tế TP HCM năm 2022</span>
                            </span>
                            <span class="hotnew-item-text">
                                <span>
                                  Đánh giá khó dự báo Covid-19 trong năm 2022, Sở Y tế TP HCM đề ra 9
                                  mục tiêu, ...
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-list">
                <div>
                    <div class="new-items">
                        <span class="new-item-time"><span>02/01/2022</span></span>
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/8d1fa800-7202-471d-b6fa-29a9c5e4c070?org_if_sml=133026"
                                alt="Rectangle1718063"
                                class="new-item-image"
                        />
                        <span class="new-item-title">
                            <span>Bộ Ngoại giao thông tin kế hoạch đón người Việt trước Tết</span>
                        </span>
                        <span class="new-item-text">
                            <span>
                              <span>
                                TTO - Bộ Ngoại giao đang phối hợp với các bộ ngành và chính quyền
                                địa phương tổ chức các chuyến bay đưa người Việt về nước trong bối
                                cảnh nhu cầu đang rất lớn do Tết Nguyên đán đang đến gần.
                              </span>
                              <br />
                              <span></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="new-items">
                        <span class="new-item-time"><span>02/01/2022</span></span>
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/8d1fa800-7202-471d-b6fa-29a9c5e4c070?org_if_sml=133026"
                                alt="Rectangle1718063"
                                class="new-item-image"
                        />
                        <span class="new-item-title">
                            <span>Bộ Ngoại giao thông tin kế hoạch đón người Việt trước Tết</span>
                        </span>
                        <span class="new-item-text">
                            <span>
                              <span>
                                TTO - Bộ Ngoại giao đang phối hợp với các bộ ngành và chính quyền
                                địa phương tổ chức các chuyến bay đưa người Việt về nước trong bối
                                cảnh nhu cầu đang rất lớn do Tết Nguyên đán đang đến gần.
                              </span>
                              <br />
                              <span></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="new-items">
                        <span class="new-item-time"><span>02/01/2022</span></span>
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/8d1fa800-7202-471d-b6fa-29a9c5e4c070?org_if_sml=133026"
                                alt="Rectangle1718063"
                                class="new-item-image"
                        />
                        <span class="new-item-title">
                            <span>Bộ Ngoại giao thông tin kế hoạch đón người Việt trước Tết</span>
                        </span>
                        <span class="new-item-text">
                            <span>
                              <span>
                                TTO - Bộ Ngoại giao đang phối hợp với các bộ ngành và chính quyền
                                địa phương tổ chức các chuyến bay đưa người Việt về nước trong bối
                                cảnh nhu cầu đang rất lớn do Tết Nguyên đán đang đến gần.
                              </span>
                              <br />
                              <span></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="new-items">
                        <span class="new-item-time"><span>02/01/2022</span></span>
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/8d1fa800-7202-471d-b6fa-29a9c5e4c070?org_if_sml=133026"
                                alt="Rectangle1718063"
                                class="new-item-image"
                        />
                        <span class="new-item-title">
                            <span>Bộ Ngoại giao thông tin kế hoạch đón người Việt trước Tết</span>
                        </span>
                        <span class="new-item-text">
                            <span>
                              <span>
                                TTO - Bộ Ngoại giao đang phối hợp với các bộ ngành và chính quyền
                                địa phương tổ chức các chuyến bay đưa người Việt về nước trong bối
                                cảnh nhu cầu đang rất lớn do Tết Nguyên đán đang đến gần.
                              </span>
                              <br />
                              <span></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="new-items">
                        <span class="new-item-time"><span>02/01/2022</span></span>
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/8d1fa800-7202-471d-b6fa-29a9c5e4c070?org_if_sml=133026"
                                alt="Rectangle1718063"
                                class="new-item-image"
                        />
                        <span class="new-item-title">
                            <span>Bộ Ngoại giao thông tin kế hoạch đón người Việt trước Tết</span>
                        </span>
                        <span class="new-item-text">
                            <span>
                              <span>
                                TTO - Bộ Ngoại giao đang phối hợp với các bộ ngành và chính quyền
                                địa phương tổ chức các chuyến bay đưa người Việt về nước trong bối
                                cảnh nhu cầu đang rất lớn do Tết Nguyên đán đang đến gần.
                              </span>
                              <br />
                              <span></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="new-items">
                        <span class="new-item-time"><span>02/01/2022</span></span>
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/8d1fa800-7202-471d-b6fa-29a9c5e4c070?org_if_sml=133026"
                                alt="Rectangle1718063"
                                class="new-item-image"
                        />
                        <span class="new-item-title">
                            <span>Bộ Ngoại giao thông tin kế hoạch đón người Việt trước Tết</span>
                        </span>
                        <span class="new-item-text">
                            <span>
                              <span>
                                TTO - Bộ Ngoại giao đang phối hợp với các bộ ngành và chính quyền
                                địa phương tổ chức các chuyến bay đưa người Việt về nước trong bối
                                cảnh nhu cầu đang rất lớn do Tết Nguyên đán đang đến gần.
                              </span>
                              <br />
                              <span></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="new-items">
                        <span class="new-item-time"><span>02/01/2022</span></span>
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/8d1fa800-7202-471d-b6fa-29a9c5e4c070?org_if_sml=133026"
                                alt="Rectangle1718063"
                                class="new-item-image"
                        />
                        <span class="new-item-title">
                            <span>Bộ Ngoại giao thông tin kế hoạch đón người Việt trước Tết</span>
                        </span>
                        <span class="new-item-text">
                            <span>
                              <span>
                                TTO - Bộ Ngoại giao đang phối hợp với các bộ ngành và chính quyền
                                địa phương tổ chức các chuyến bay đưa người Việt về nước trong bối
                                cảnh nhu cầu đang rất lớn do Tết Nguyên đán đang đến gần.
                              </span>
                              <br />
                              <span></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="new-items">
                        <span class="new-item-time"><span>02/01/2022</span></span>
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/8d1fa800-7202-471d-b6fa-29a9c5e4c070?org_if_sml=133026"
                                alt="Rectangle1718063"
                                class="new-item-image"
                        />
                        <span class="new-item-title">
                            <span>Bộ Ngoại giao thông tin kế hoạch đón người Việt trước Tết</span>
                        </span>
                        <span class="new-item-text">
                            <span>
                              <span>
                                TTO - Bộ Ngoại giao đang phối hợp với các bộ ngành và chính quyền
                                địa phương tổ chức các chuyến bay đưa người Việt về nước trong bối
                                cảnh nhu cầu đang rất lớn do Tết Nguyên đán đang đến gần.
                              </span>
                              <br />
                              <span></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="new-items">
                        <span class="new-item-time"><span>02/01/2022</span></span>
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/8d1fa800-7202-471d-b6fa-29a9c5e4c070?org_if_sml=133026"
                                alt="Rectangle1718063"
                                class="new-item-image"
                        />
                        <span class="new-item-title">
                            <span>Bộ Ngoại giao thông tin kế hoạch đón người Việt trước Tết</span>
                        </span>
                        <span class="new-item-text">
                            <span>
                              <span>
                                TTO - Bộ Ngoại giao đang phối hợp với các bộ ngành và chính quyền
                                địa phương tổ chức các chuyến bay đưa người Việt về nước trong bối
                                cảnh nhu cầu đang rất lớn do Tết Nguyên đán đang đến gần.
                              </span>
                              <br />
                              <span></span>
                            </span>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="new-items">
                        <span class="new-item-time"><span>02/01/2022</span></span>
                        <img
                                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/f37037e4-db0c-4d11-b522-440659e7fb2c/8d1fa800-7202-471d-b6fa-29a9c5e4c070?org_if_sml=133026"
                                alt="Rectangle1718063"
                                class="new-item-image"
                        />
                        <span class="new-item-title">
                            <span>Bộ Ngoại giao thông tin kế hoạch đón người Việt trước Tết</span>
                        </span>
                        <span class="new-item-text">
                            <span>
                              <span>
                                TTO - Bộ Ngoại giao đang phối hợp với các bộ ngành và chính quyền
                                địa phương tổ chức các chuyến bay đưa người Việt về nước trong bối
                                cảnh nhu cầu đang rất lớn do Tết Nguyên đán đang đến gần.
                              </span>
                              <br />
                              <span></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-fields-container">
            <div class="searchNews">
                <input class="form-control" type="text" style="width: 90%" placeholder="Search...">
                <button class="btn btn-primary searchNewButton" style="width: 17%;">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.75" clip-path="url(#clip0_2158_313)">
                            <path d="M16.7676 14.699L13.4572 11.3887C13.3078 11.2393 13.1053 11.1562 12.8928 11.1562H12.3516C13.268 9.98418 13.8125 8.50996 13.8125 6.90625C13.8125 3.09121 10.7213 0 6.90625 0C3.09121 0 0 3.09121 0 6.90625C0 10.7213 3.09121 13.8125 6.90625 13.8125C8.50996 13.8125 9.98418 13.268 11.1562 12.3516V12.8928C11.1562 13.1053 11.2393 13.3078 11.3887 13.4572L14.699 16.7676C15.0111 17.0797 15.5158 17.0797 15.8246 16.7676L16.7643 15.8279C17.0764 15.5158 17.0764 15.0111 16.7676 14.699ZM6.90625 11.1562C4.55879 11.1562 2.65625 9.25703 2.65625 6.90625C2.65625 4.55879 4.55547 2.65625 6.90625 2.65625C9.25371 2.65625 11.1562 4.55547 11.1562 6.90625C11.1562 9.25371 9.25703 11.1562 6.90625 11.1562Z" fill="black" fill-opacity="0.5"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_2158_313">
                                <rect width="17" height="17" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </button>
            </div>
            <span >By fields</span>
            <input class="form-control" type="text" placeholder="Enter the field...">
            <div class="field-items">
                <span>Business</span>
                <span>Computer Science</span>
                <span>Data Science</span>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example" style="margin: auto; margin-top: 100px">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">20</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="footer">
    <div class="item-footer">
        <div><span>Feature</span></div><br>
        <div class="sub-item-footer">
            <div><span>Find an Expert</span></div><br>
            <span>Find Events</span><br>
        </div>
    </div>
    <div class="item-footer">
        <div><span>Discover</span></div><br>
        <div class="sub-item-footer">
            <div><span>Security</span></div><br>
            <div></div><span>Sponsor</span><br>
        </div>
    </div>
    <div class="item-footer">
        <div><span>Information</span></div><br>
        <div class="sub-item-footer">
            <div><span>Rules</span></div><br>
            <span>About us</span><br>
        </div>
    </div>
    <div class="item-footer">
        <div><span>Community</span></div><br>
        <div class="sub-item-footer">
            <div><img style="width: 25px;height: 25px;" src="../../assets/icon/facebook.png" alt=""> <span
                    style="padding-right:5px"></span></i><span>Facebook</span></div><br>
            <div><img style="width: 25px;height: 25px;" src="../../assets/icon/twitter.png" alt=""> <span
                    style="padding-right:5px"></span></i><span>Twitter</span></div><br>
            <div><img style="width: 25px;height: 25px;" src="../../assets/icon/linkedin.png" alt=""> <span
                    style="padding-right:5px"></span></i><span>Linkedln</span></div><br>
        </div>

    </div>
</div>
</body>

</html>