body {
    background-color: #f8fdff;
}

a {
    text-decoration: none;
    color: blue;
}

.navbar-essme {
    width: 100%;
    height: 700px;
    background-image: url("../../../assets/bgImg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgLogo {
    width: 50px;
    height: 50px;
    padding: auto;
}

.container-essme {
    min-width: 1400px;
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    position: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    background-color: black transparent;
    /* opacity: 50%; */
}

.logo {
    display: flex;
}

#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 5px;
}

#main-menu li a {
    padding: 10px 20px;
}

#main-menu li {
    position: relative;
}

.sub-menu {
    position: absolute;
    background-color: whitesmoke;
    padding: 10px 0px;
    list-style: none;
    width: 150px;
    text-decoration: none;
    top: 40px;
    display: none;
    color: black;
}

.sub-menu li:hover {
    background-color: black;
}

.sub-menu li:hover a {
    color: white;
}
.sub-menu ul a{
    padding: 0px;
}

#main-menu li:hover ul {
    display: block;
}

 li {
    padding: 10px;
}


.icon-home {
    padding-top: 10px;
    padding-left: 10px;
}

.bread-crumb {
    padding-top: 15px;
}

.detail-body {
    height: 1300px;
    width: 1240px;
    margin: auto;
}


.line {
    padding-right: 30px;
    padding-left: 30px;
    height: 2px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1363DF;
}

.profile {
    display: flex;
    padding-top: 30px;

}

.image-profile {
    width: 400px;
    height: 700px;
    margin: 10px;
    border-radius: 15px;
    background-color: #A9D2FF;
}

.img-item-profile {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-item-profile {
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.job-item-profile {
    padding-top: 10px;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.professor-location-email-item-profile {
    display: flex;
    padding-right: 20px;
    padding-left: 40px;
    padding-bottom: 15px;
    text-align: start;
}

.detail-profile {
    width: 100%;

}

.intro-social-profile {
    background-color: #A9D2FF;
    height: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 10px;
    border-radius: 15px;
}

.detail-intro-profile {
    display: flex;
    padding-left: 40px;
    padding-bottom: 10px;
}

.sub-title-intro-profile {
    width: 100px;
}

.sub-content-intro-profile {
    padding-left: 5px;
}

.detail-social-profile {
    display: flex;
    padding-left: 40px;
    padding-bottom: 10px;
}

.title-detail-profile {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
}

.sub-content-social-profile {
    padding-left: 5px;
    display: flex;
}


.order-profile {
    background-color: #A9D2FF;
    height: 290px;
    margin: 10px;
    border-radius: 15px;
}

button {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
    width: 100px;

}

.related-experts {
    background-color: #A9D2FF;
    height: 400px;
    padding: 35px;
}

.title-related-experts {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
}

.list-related-experts{
    display: flex;
    justify-content: space-evenly;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 160px;
    background-color: white
}

.card-related {
    display: flex;
    width: 300px;
    height: 150px;
}

.info-related {
    flex: 7;
    padding-left: 10px;
    padding-top: 15px;

}

.name-related {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 10px;
}

.job-related {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.location-related {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
}

.img-realated {
    flex: 3;
}


.footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #1363DF;
    color: white;
    height: 300px;
}

.sub-item-footer {
    padding-top: 20px;
}

.item-footer {
    padding-top: 30px;
}



/*_________________________EXPERTS____________________________________________*/
.searchForm {
    position: absolute;
    width: 1208px;
    height: 126px;
    background: #A9D2FF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.searchByField {
    position: absolute;
    width: 509px;
    height: 50px;
    left: 29px;
    top: 38px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchByLocation {

    position: absolute;
    width: 491px;
    height: 50px;
    left: 549px;
    top: 38px;
    padding: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.searchButton {
    position: absolute;
    width: 124px;
    height: 53px;
    left: 1063px;
    top: 35px;
    background: #FFFFFF;
    border-radius: 10px;
}

.experts-body{
    width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.leading-experts-container{
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.leading-list{
    height: 650px;
    flex-grow: 5;
    background: #A9D2FF;
    padding: 10px;
    margin-right: 20px;
    flex-direction: column;
}
.fields-container{
    height: 650px;
    flex-grow: 1;
    background: #A9D2FF;
    flex-direction: column;
}
.leading-experts-title {
    padding-top: 150px;
    font-family: 'Brygada 1918';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 75px;
}

.sub-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 25px;
}

.events-div{
    background: #A9D2FF;
    width: 90%;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.news-div{
    background: #A9D2FF;
    width: 90%;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.map{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.oreder-expert-body{
    width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.o-title-container{
    width: 452px;
    height: 66px;
    margin: auto;
    margin-top: 40px;
    background: #A9D2FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.o-title-container > p{
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    color: #000000;
}
.o-field-container{
    background: white;
    border-color: #A9D2FF;
    width: 1154px;
    height: 76px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    padding: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.o-field-container > textarea{
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.o-requirement-container{
    background: white;
    border-color: #A9D2FF;
    width: 1154px;
    height: 445px;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.o-requirement-container > textarea{
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.button-container{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    display: flex;
}
.button-cancel{
    width: 144px;
    height: 57px;
    margin: 20px;
    background: #79C2FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.button-send{
    width: 144px;
    height: 57px;
    margin: 20px;
    background: #79C2FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.news-containers{
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.news-group{
    height: fit-content;
    flex-grow: 5;
    background: #A9D2FF;
    padding: 10px;
    margin-right: 20px;
    flex-direction: row;
}
.hot-news {
     height: 650px;
     background: deepskyblue;
     padding: 10px;
     display: flex;
     flex-direction: column;
}
.head-new {
    flex-grow: 4;
    background: greenyellow;
    padding: 10px;
}
.hot-news-list {
    flex-grow: 2;
    margin-top: 10px;
    background: aqua;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.news-list{
    margin-top: 10px;
    background: aqua;
    padding: 10px;
    display: flex;
    flex-direction: row;
}


.event-detail-container {
    display: flex;
    flex-direction: column;
    width: 1240px;
    margin: auto;
}

.event-d-image {
    margin-top: 10px;
    background: #888888;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.event-d-time-place {
    margin-top: 10px;
    background: #D87A8A;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.event-d-tags {
     margin-top: 10px;
     background: #7879D8;
     padding: 10px;
     display: flex;
     flex-direction: row;
 }

.event-d-detail {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #a87ab1;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

