body {
    background-color: #f8fdff;
}

/* width */
::-webkit-scrollbar {
    width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px transparent; */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}


body {
    background-color: #E5E5E5;
}

.essme {
    position: static;
    width: 385px;
    height: 97px;
    padding-left: 450px;
    padding-top: 200px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 124px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #67d1ff;
}

a {
    text-decoration: none;
    color: blue;
}

.expert-navbar {
    position: fixed;
    width: 100%;
    background: rgba(0, 29, 70, 0.4);
    height: 90px;
    z-index: 99;
}

.nav-active {
    background: rgba(205, 35, 35, 0.75);
    height: 70px;
}

.header-essme {
    display: flex;
    width: 1800px;
    justify-content: center;
    background-color: black;
    position: fixed;
}

.header-background {
    height: 640px;
    background-image: url("../../../assets/homepage-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
}

.imgLogo {
    width: 30px;
    height: 30px;
}

.container-essme {
    height: 60px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    /* background-color: rgb(0, 0, 0); */
    /* opacity: 50%; */
}

.logo {
    display: flex;
}

#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 5px;
}

#main-menu li a {
    padding: 10px 20px;
}

#main-menu li {
    position: static;
}

.sub-menu {
    position: static;
    background-color: whitesmoke;
    padding: 10px 0px;
    list-style: none;
    width: 150px;
    text-decoration: none;
    top: 40px;
    display: none;
}

.sub-menu li:hover {
    background-color: black;
}

.sub-menu li:hover a {
    color: white;
}

.sub-menu li:last-child {
    border: none;
}

#main-menu li:hover ul {
    display: block;
}

li {
    padding: 10px;
}

header {
    padding-top: 10px;
}

li {
    padding: 10px;
}


.bread-crumb {
    padding-top: 15px;
}

.detail-body {
    width: 1240px;
    margin: auto;

}

.icon-home {
    padding-top: 10px;
    padding-left: 10px;
}

.line {
    padding-right: 30px;
    padding-left: 30px;
    height: 2px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1363DF;
}

.searchForm {
    position: static;
    margin-top: 30px;
    width: 1200px;
    height: 110px;
    background: rgba(19, 99, 223, 0.75);
    display: flex;
    flex-direction: row;
}

.searchByField {
    margin: auto;
    margin-left: 20px;
    margin-right: 10px;
    width: 509px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchByLocation {
    margin: auto;
    width: 491px;
    height: 50px;
    background: #FFFFFF;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.form-control::placeholder {
    color: rgba(128, 128, 128, 0.75);
}

.searchButton {
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    width: 270px;
    height: 53px;
    left: 1063px;
    top: 35px;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 15px;
}

.searchButton:hover {
    background: #d0e6ff;
    border-color: #5eaaff;
}

.bread-crumb {
    padding-top: 15px;
}

.detail-body {
    height: 1300px;
    width: 1240px;
    margin: auto;
}


.line {
    padding-right: 30px;
    padding-left: 30px;
    height: 2px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1363DF;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    padding-top: 30px;

}

.image-profile {
    width: 400px;
    margin: 10px;
    /* border-radius: 15px; */
    background-color: #A9D2FF;
}

.img-item-profile {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-item-profile {
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.job-item-profile {
    padding-top: 10px;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.professor-location-email-item-profile {
    display: flex;
    padding-right: 20px;
    padding-left: 40px;
    padding-bottom: 15px;
    text-align: start;
}

.detail-profile {
    width: 100%;

}

.intro-social-profile {
    background-color: #A9D2FF;
    margin: 10px;
    width:100%;
    /* border-radius: 15px; */
    display: flex;
}

.button-intro-profile {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    margin: 0;
    padding: 0;

}

.button-intro-profile img {
    width: 50px;
    height: 50px;
}

.detail-intro-profile {
    display: flex;
    padding-left: 40px;
    padding-bottom: 10px;
    flex:9; 
}

.sub-title-intro-profile {
    width: 100px;
}

.sub-content-intro-profile {
    padding-left: 5px;
}

.detail-social-profile {
    display: flex;
    padding-left: 40px;
    padding-bottom: 10px;
}

.title-detail-profile {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
}

.sub-content-social-profile {
    padding-left: 5px;
    display: flex;
}


.order-profile {
    background-color: #A9D2FF;
    height: 290px;
    margin: 10px;
}

.order-profile textarea {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
    width: 100px;

}

.related-experts {
    background-color: #A9D2FF;
    height: 400px;
    margin:10px;
}

.title-related-experts {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
}

.list-related-experts {
    display: flex;
    justify-content: space-evenly;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 160px;
    background-color: white
}

.card-related {
    display: flex;
    width: 300px;
    height: 150px;
}

.info-related {
    flex: 7;
    padding-left: 10px;
    padding-top: 15px;

}

.name-related {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 10px;
}

.job-related {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.location-related {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
}

.img-related {
    flex: 3;
}

.img-related img {
    width: 120px;
    height: 100%;
}


.footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #1363DF;
    color: white;
    height: 300px;
}

.sub-item-footer {
    padding-top: 20px;
}

.item-footer {
    padding-top: 30px;
}



/*_________________________EXPERTS____________________________________________*/
.searchForm {
    position: absolute;
    width: 1208px;
    height: 126px;
    background: #A9D2FF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.searchByField {
    position: absolute;
    width: 509px;
    height: 50px;
    left: 29px;
    top: 38px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchByLocation {

    position: absolute;
    width: 491px;
    height: 50px;
    left: 549px;
    top: 38px;
    padding: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.searchButton {
    position: absolute;
    width: 124px;
    height: 53px;
    left: 1063px;
    top: 35px;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 10px;
}

.searchButton:hover {
    background: #5eaaff;
    border-color: #5eaaff;
}

.searchButton:focus {}


.oreder-expert-body {
    width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.o-title-container {
    padding: 0px 20px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
}

.o-title-container>p {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
    color: #1363DF;
}

.o-field-container {
    background: transparent;
    border-color: transparent;
    width: 1154px;
    height: 76px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

.o-field-container>textarea {
    background: white;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.o-requirement-container {
    background: transparent;
    border-color: transparent;
    width: 1154px;
    height: 445px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
}

.o-requirement-container>textarea {
    background: white;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.button-container {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}

.button-cancel {
    width: 144px;
    height: 57px;
    margin: 20px;
    background: #1363DF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.button-cancel:hover {
    background: #2e7cf5;
}

.button-send {
    width: 144px;
    height: 57px;
    margin: 20px;
    background: #1363DF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.button-send:hover {
    background: #2e7cf5;
}

.event-detail-container {
    display: flex;
    flex-direction: column;
    width: 1240px;
    margin: auto;
}

.event-detail-container>div {
    margin: 15px;
}

.event-d-image {
    margin-top: 10px;
    background: #888888;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.event-d-image>img {
    width: 100%;
}

.event-d-time-place {
    margin-top: 10px;
    background: #D87A8A;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.event-d-tags {
    margin-top: 10px;
    background: #7879D8;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.event-d-detail {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #a87ab1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
}

.event-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    margin: auto;
}

.event-d-tags>div {
    display: flex;
    flex-direction: row;
}

.date-tag {
    flex-grow: 1;
}

.date-tag>span {
    display: flex;
    flex-direction: column;
    border: 2px solid #24604C;
    width: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #24604C;
    border-radius: 5px;
}

.tag-items {
    flex-grow: 6;
    display: flex;
    flex-direction: column;
}

.tag-items>div {
    margin: 10px;
}

.tag-items>div>span {
    border: 2px solid #24604C;
    width: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #24604C;
    border-radius: 5px;
    padding: 5px;
}

.event-d-time-place>div {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 40px;
}

.event-d-time-place>div>svg {
    width: 27px;
    margin-right: 20px;
}

.event-space {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
}

.event-time {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
}

.event-contact>span {
    border: 2px solid #24604C;
    width: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    border-radius: 5px;
    padding: 5px 40px;
    margin-right: 10px;
}


.body-news {
    height: 500px;
    border-radius: 20px;
    display: flex;
    background-color: #A9D2FF;
}

.list-item-news {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: auto;

}

.item-news {
    border-radius: 20px;
    width: 280px;
    height: 140px;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.title-item-news {
    margin-bottom: 10px;

}

.detail-item-news {
    display: flex;
}

.img-news {
    width: 120px;
    height: 90px;
}

.sub-detail-item-news {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.time-item-news {
    display: flex;
    justify-content: flex-end;
}

.footer-news {
    text-align: center;
    margin: 20px;
}


.body-events {
    height: 500px;
    border-radius: 20px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.previous-next-events {
    margin: 10px;
}

.item-events {
    margin: 5px;
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
}

.img-events {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.title-events {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.detail-events {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.experts-body {
    width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.leading-experts-container {
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.leading-list {
    height: 650px;
    width: 980px;
    background: #A9D2FF;
    padding: 10px;
    margin-right: 20px;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    overflow: auto;
}

.leading-list>div {
    margin: 10px 10px;
}

.fields-container {
    width: 240px;
    height: 650px;
    background: #A9D2FF;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.fields-container>input {
    width: 100%;
}

.fields-container>span {
    margin-top: 8px;
    margin-left: 10px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid #24604C;
    width: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #24604C;
    border-radius: 5px;
}

.leading-experts-title {
    padding-top: 150px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 75px;
}

.sub-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 25px;
}

.events-div {
    background: #A9D2FF;
    width: 90%;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.news-div {
    background: #A9D2FF;
    width: 90%;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.map {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.expert-item {
    width: 450px;
    height: 208px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 540px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 5px;
    background-color: #FFF5F8;
}

.expert-experts-item-image {
    top: 12px;
    right: 14px;
    width: 125px;
    height: 179px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    border-radius: 5px;
    margin-bottom: 0;
}

.expert-experts-item-title-text {
    top: 18px;
    left: 20px;
    color: rgba(80, 91, 218, 1);
    width: 280px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Roboto;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.expert-experts-work-space-text {
    top: 130px;
    left: 24px;
    color: rgb(0, 0, 0);
    width: 280px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.expert-experts-position-text {
    top: 77px;
    left: 24px;
    color: rgb(0, 0, 0);
    width: 280px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}


.news-containers {
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.news-group {
    height: fit-content;
    flex-grow: 5;
    background: #A9D2FF;
    padding: 10px;
    margin-right: 20px;
    flex-direction: row;
}

.hot-news {
    height: 650px;
    background: deepskyblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.head-new {
    height: fit-content;
    background: greenyellow;
    padding: 10px;
}

.hot-news-list {
    flex-grow: 2;
    margin-top: 10px;
    background: aqua;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.news-fields-container {
    width: 240px;
    height: 650px;
    background: #A9D2FF;
    display: flex;
    flex-direction: column;
}

.searchNews {
    display: flex;
    flex-direction: row;
}

.news-fields-container>span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding: 5px;
}

.field-items {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.field-items>span {
    margin-top: 8px;
    margin-left: 10px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid #24604C;
    width: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #24604C;
    border-radius: 5px;
}

.expert-hotnew {
    width: 913px;
    height: 385px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 913px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(192, 192, 192, 1);
    border-style: solid;
    border-width: 1px;
    margin-right: 0;
    border-radius: 10px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 1);
}

.expert-hotnew-ellipse {
    top: 198.0372314453125px;
    left: 888.1865234375px;
    width: 15px;
    height: 15px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.expert-hotnew-ellipse1 {
    top: 228.0372314453125px;
    left: 888.037109375px;
    width: 15px;
    height: 15px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.expert-hot-new-ellipse {
    top: 168.0372314453125px;
    left: 888.3359375px;
    width: 15px;
    height: 15px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.expert-hotnew-image {
    top: 18px;
    left: 19px;
    width: 617px;
    height: 345px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    border-radius: 5px;
    margin-bottom: 0;
}

.expert-hotnew-title-text {
    top: 18px;
    left: 653px;
    color: rgba(0, 0, 0, 1);
    width: 223px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.expert-hotnew-text {
    top: 89px;
    left: 653px;
    color: rgba(0, 0, 0, 1);
    width: 217px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.hotnew-item {
    width: 300px;
    height: 182px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 300px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(192, 192, 192, 1);
    border-style: solid;
    border-width: 1px;
    margin-right: 0;
    border-radius: 10px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 1);
}

.hotnew-item-image {
    top: 35px;
    left: 16px;
    width: 153px;
    height: 124px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    border-radius: 5px;
    margin-bottom: 0;
}

.hotnew-item-title {
    top: 9px;
    left: 16px;
    color: rgba(0, 0, 0, 1);
    width: 268px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Roboto;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.hotnew-item-text {
    top: 33px;
    left: 184px;
    color: rgba(0, 0, 0, 1);
    width: 99px;
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.hot-news-list>div {
    margin-right: 10px;
}

.news-list {
    background: aqua;
    display: flex;
    flex-direction: column;
}

.news-list>div {
    margin-bottom: 20px;
}

.new-items {
    width: 980px;
    height: 150px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    align-items: flex-start;
    border-color: rgba(192, 192, 192, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.new-item-time {
    top: 118px;
    left: 253px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 10px;
    align-self: auto;
    font-style: Thin;
    text-align: left;
    font-family: Roboto;
    font-weight: 100;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.new-item-image {
    top: 18px;
    left: 17px;
    width: 199px;
    height: 114px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    border-radius: 5px;
    margin-bottom: 0;
}

.new-item-title {
    top: 20px;
    left: 248px;
    color: rgba(0, 0, 0, 1);
    width: 720px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.new-item-text {
    top: 52px;
    left: 248px;
    color: rgba(0, 0, 0, 1);
    width: 720px;
    height: auto;
    position: absolute;
    font-size: 15px;
    align-self: auto;
    font-style: Light;
    text-align: left;
    font-family: Roboto;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.form-control::placeholder {
    color: rgba(128, 128, 128, 0.75);
}

.searchNewButton {
    background: #FFFFFF;
    border-color: #A9D2FF;
}

.searchNewButton:hover {
    background: #5eaaff;
    border-color: #5eaaff;
}