body {
    background-color: #E5E5E5;
}

/* width */
::-webkit-scrollbar {
    width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px transparent; */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.expert-navbar>nav>div>div>div>ul>li:hover {
    text-decoration: underline;
}

body {
    background-color: #E5E5E5;
}

.essme {
    position: static;
    width: 385px;
    height: 97px;
    padding-left: 450px;
    padding-top: 200px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 124px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #67d1ff;
}

a {
    text-decoration: none;
    color: blue;
}

.expert-navbar {
    position: fixed;
    width: 100%;
    background: rgba(0, 29, 70, 0.4);
    height: 90px;
    z-index: 99;
}

.nav-active {
    background: rgba(19, 99, 223, 0.92);
    height: 70px;
}

.header-essme {
    display: flex;
    width: 1800px;
    justify-content: center;
    background-color: black;
    position: fixed;
}

.header-background {
    height: 640px;
    background-image: url("../../../assets/homepage-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
}

.imgLogo {
    width: 30px;
    height: 30px;
}

.container-essme {
    height: 60px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    /* background-color: rgb(0, 0, 0); */
    /* opacity: 50%; */
}

.logo {
    display: flex;
}

#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 5px;
}

#main-menu li a {
    padding: 10px 20px;
}

#main-menu li {
    position: static;
}

.sub-menu {
    position: static;
    background-color: whitesmoke;
    padding: 10px 0px;
    list-style: none;
    width: 150px;
    text-decoration: none;
    top: 40px;
    display: none;
}

.sub-menu li:hover {
    background-color: black;
}

.sub-menu li:hover a {
    color: white;
}

.sub-menu li:last-child {
    border: none;
}

#main-menu li:hover ul {
    display: block;
}

li {
    padding: 10px;
}

header {
    padding-top: 10px;
}

li {
    padding: 10px;
}


.bread-crumb {
    padding-top: 15px;
}

.detail-body {
    width: 100%;
    margin: auto;
    padding-top: 80px;
}

.icon-home {
    padding-top: 10px;
    padding-left: 10px;
}

.line {
    padding-right: 30px;
    padding-left: 30px;
    height: 2px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1363DF;
}

.searchForm {
    margin-top: 30px;
    width: 100%;
    height: 110px;
    background: rgba(19, 80, 223, 0.75);
    display: flex;
    flex-direction: row;
}

.searchByField {
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    flex: 8;
    height: 50px;
    background: #FFFFFF;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.searchByLocation {
    flex: 8;
    margin: auto;
    height: 50px;
    background: #FFFFFF;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.form-control::placeholder {
    color: rgba(128, 128, 128, 0.75);
}

#searchButton {
    flex: 2;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
    background-color: #FFFFFF;
}

#searchButton:hover {
    background-color: #FFFFFF;
    color: #5eaaff;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.searchByField:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.searchByLocation:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.searchButton:focus {}

.map {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    /* background-color: ; */
    margin: 10px;
}

.title-field-result {
    padding: 40px;
    font-size: 40px;
}

.list-result {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #A9D2FF; */
    margin-top: 30px;
}

.list-item-result {
    /* background-color: #A9D2FF; */
    height: 600px;
    width: 80%;
    border-radius: 20px;
    overflow: auto;

}

.item-result {
    background-color: white;
    display: flex;
    height: 120px;
    align-items: center;
    margin: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.45);

}

.item-result:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: #1363DF; */
}

.detail-result {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-detail-result {
    display: block;
}

.button-detail-result {
    margin-right: 40px;
}

.fields-events {
    width: 100%;
    /* background-color: #EBF6FF; */
}

.fields-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #1363DF;
    margin-left: 30px;
}

.fields-list {
    width: 80%;
    margin: auto;

}

.field-item {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-images {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.field-name {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.field-name>span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;

    color: #000000;
    padding: 10px;
}

/* EVENTS*/


.htitle {
    display: flex;
    margin-right: 45px;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.events {
    margin: 10px;
    /* background-color: yellow; */
}

.events-body {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.more-expert {
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #2498ff;
    color: #2498ff;
    background-color: transparent;
}

.event-title {
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;
    color: #1363DF;
    padding-left: 50px;
}

.event-list {
    width: 85%;
    margin: auto;
}

.event-list>div {
    height: fit-content;
    margin: 20px;
}

.item-events {
    margin: auto;
    padding: 10px;
    height: 330px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.item-events:hover {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.img-events {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.img-events>img {
    width: 100%;
    height: 180px;
    border-radius: 20px;
    object-fit: contain;
}

.title-events {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.detail-events {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.detail-events>span {
    margin-left: 10px;
}


/* NEW*/

.news {
    /* background: #f0e7ff; */
    margin-bottom: 20px;
    margin: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.news-title {
    height: 80px;
    font-size: 64px;
    line-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1363DF;

}

.body-news {
    border-radius: 20px;
    display: flex;
}

.list-item-news {
    height: 490px;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.item-news {
    border-radius: 5px;
    /* width: 470px; */
    flex: 3;
    height: 140px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-news:hover {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.title-item-news {
    font-family: "Segoe UI";
    font-weight: 500;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.detail-item-news {
    display: flex;
}

.img-news {
    width: 120px;
    max-height: 90px;
}

.sub-detail-item-news {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.sub-title-item-news {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.time-item-news {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
}

.footer-news {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    padding-bottom: 40px;
    text-decoration-line: underline;

    color: #000000;
}

.footer-news:hover {
    color: #2498ff;
}

.footer-news>a {
    margin: auto;
}

.behind-title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #505BDA;
}

.news-list {
    height: 400px;
}

.footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #1363DF;
    color: white;
    height: 300px;
}

.sub-item-footer {
    padding-top: 20px;
}

.item-footer {
    padding-top: 30px;
}

.sub-item-footer span i {
    margin-right: 15px;
}

/* @media only screen and (max-width: 610px) {
    .item-footer {
        padding-top: 30px;
        width: 500px;
    }
    .footer {
        padding-top: 30px;
        display: grid;
        grid-column: 2;
        background-color: #1363DF;
        color: white;
        height: 900px;
    }
    
} */


@media only screen and (max-width: 1260px) {
    .list-item-news {
        height: 490px;
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1208px) {
    .item-events {
        margin: auto;
        padding: 10px;
        height: 330px;
        width: 200px;
        background-color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}