body {
    background-color: #f8fdff;
}

/* width */
::-webkit-scrollbar {
    width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px transparent; */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}


body {
    background-color: #E5E5E5;
}

.essme {
    position: static;
    width: 385px;
    height: 97px;
    padding-left: 450px;
    padding-top: 200px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 124px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #67d1ff;
}

a {
    text-decoration: none;
    color: blue;
}

.expert-navbar {
    position: fixed;
    width: 100%;
    background: rgba(0, 29, 70, 0.4);
    height: 90px;
    z-index: 99;
}

.nav-active {
    background: rgba(205, 35, 35, 0.75);
    height: 70px;
}

.header-essme {
    display: flex;
    width: 1800px;
    justify-content: center;
    background-color: black;
    position: fixed;
}

.header-background {
    height: 640px;
    background-image: url("../../../assets/homepage-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
}

.imgLogo {
    width: 30px;
    height: 30px;
}

.container-essme {
    height: 60px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    /* background-color: rgb(0, 0, 0); */
    /* opacity: 50%; */
}
.expert-navbar > nav > div > div > div > ul > li:hover{
    text-decoration: underline;
}
.logo {
    display: flex;
}

#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 5px;
}

#main-menu li a {
    padding: 10px 20px;
}

#main-menu li {
    position: static;
}

.sub-menu {
    position: static;
    background-color: whitesmoke;
    padding: 10px 0px;
    list-style: none;
    width: 150px;
    text-decoration: none;
    top: 40px;
    display: none;
}

.sub-menu li:hover {
    background-color: black;
}

.sub-menu li:hover a {
    color: white;
}

.sub-menu li:last-child {
    border: none;
}

#main-menu li:hover ul {
    display: block;
}

li {
    padding: 10px;
}

header {
    padding-top: 10px;
}

li {
    padding: 10px;
}


.bread-crumb {
    padding-top: 15px;
}

.detail-body {
    width: 1240px;
    margin: auto;

}

.icon-home {
    padding-top: 10px;
    padding-left: 10px;
}

.line {
    padding-right: 30px;
    padding-left: 30px;
    height: 2px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1363DF;
}

.searchForm {
    position: static;
    margin-top: 30px;
    width: 1200px;
    height: 110px;
    background: rgba(19, 99, 223, 0.75);
    display: flex;
    flex-direction: row;
}

.searchByField {
    margin: auto;
    margin-left: 20px;
    margin-right: 10px;
    width: 509px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchByLocation {
    margin: auto;
    width: 491px;
    height: 50px;
    background: #FFFFFF;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.form-control::placeholder {
    color: rgba(128, 128, 128, 0.75);
}

.searchButton {
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    width: 270px;
    height: 53px;
    left: 1063px;
    top: 35px;
    background: #FFFFFF;
    border-color: #FFFFFF;
    /* border-radius: 15px; */
}

.searchButton:hover {
    background: #d0e6ff;
    border-color: #5eaaff;
}

.searchButton:focus {}

.filter-field {
    display: flex;
    justify-content: space-evenly;
    height: 40px;

}

.field {
    display: inline-flex;
    background-color: #A9D2FF;
    justify-content: center;
    align-items: center;
    width: 140px;
    /* border-radius: 15px; */
}

.icon-filter {
    padding-left: 10px;
}

.question-FQAs {
    background-color: #A9D2FF;
    height: 600px;
    margin-top: 20px;
    padding: 30px;
    /* border-radius: 20px; */
}

.title-FQAs {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.question-answer-card {
    padding: 20px;
    margin: 20px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.question-field{

}
.answer-field {
    padding: 20px;
}
.see-more-FQAs{
    margin-top: 120px;
    text-align: center;
}


.your-question {
    padding: 20px;
    background-color: #A9D2FF;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
}

button {
    background-color: white;
    color: black;
    /* border-radius: 10px; */
    border: none;
    width: 120px;
    height: 40px;
}










.footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #1363DF;
    color: white;
    height: 300px;
}

.sub-item-footer {
    padding-top: 20px;
}

.item-footer {
    padding-top: 30px;
}