
body {
    background-color: #E5E5E5;
}
/* width */
::-webkit-scrollbar {
    width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px transparent; */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}
.expert-navbar > nav > div > div > div > ul > li:hover{
    text-decoration: underline;
}

.essme {
    position: static;
    width: 385px;
    height: 97px;
    padding-left: 450px;
    padding-top: 200px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 124px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #67d1ff;
}

a {
    text-decoration: none;
    color: blue;
}

.expert-navbar {
    position: fixed;
    width: 100%;
    background: rgba(0, 29, 70, 0.4);
    height: 90px;
    z-index: 99;
}

.nav-active {
    background: rgb(19, 99, 223);
    height: 70px;
}
.navbar-brand{
    margin-top: -5px;
}
.navbar-brand > span{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
}
.header-essme {
    display: flex;
    /* width: 1800px; */
    justify-content: center;
    background-color: black;
    position: fixed;
}
.dropdown-toggle {
    color: white !important;
}
.header-background {
    height: 640px;
    background-image: url("../../../assets/homepage-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
}

.imgLogo {
    width: 30px;
    height: 30px;
}

.imgLogo1 {
    width: 40px;
    height: 40px;
}

.container-essme {
    height: 60px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    /* background-color: rgb(0, 0, 0); */
    /* opacity: 50%; */
}

.logo {
    display: flex;
}

#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 5px;
}

#main-menu li a {
    padding: 10px 20px;
}

#main-menu li {
    position: static;
}

.sub-menu {
    position: static;
    background-color: whitesmoke;
    padding: 10px 0px;
    list-style: none;
    width: 150px;
    text-decoration: none;
    top: 40px;
    display: none;
}

.sub-menu li:hover {
    background-color: black;
}

.sub-menu li:hover a {
    color: white;
}

.sub-menu li:last-child {
    border: none;
}

#main-menu li:hover ul {
    display: block;
}

li {
    padding: 10px;
}

header {
    padding-top: 10px;
}
li {
    padding: 10px;
}


.detail-body {
    margin: auto;
    padding-top: 90px;
}

.bread-crumb {
    padding-top: 100px;
}

.detail-body {
    width: 1240px;
    margin: auto;

}

.icon-home {
    padding-top: 10px;
    padding-left: 10px;
}

.line {
    padding-right: 30px;
    padding-left: 30px;
    height: 2px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1363DF;
    margin-bottom: 40px;
}


.body-response-history {
    margin-top: 20px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.list-message {
    height: fit-content;
    width: 90%;
}

.message {
    padding: 5px;
    background-color: white;
    /* min-height: 300px; */
    height: fit-content;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 20px;
    color: #f8fdff;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.message:hover {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.question-message {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    height: fit-content;
    max-width: 700px;
}

.question-message span {
    background-color: cornflowerblue;
    height: fit-content;
    text-align: end;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    /* align-items: center; */
}

.content-question-message {
    /* height: 40px; */
    flex: 24;
    margin-left: 5px;
    padding-left: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
}
.content-question-message div span {
    text-align: left;
}

.answer-message {
    display: flex;
    /* height: 40px; */
    justify-content: flex-end;
    margin-right: 15px;
    padding-right: 10px;
    text-align: end;
    border-radius: 20px;
}

.answer-message span {
    background-color: cornflowerblue;
    /* height: 40px; */
    text-align: end;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    max-width: 700px;
}


.see-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    /* background-color: green; */
}

.see-content{
    margin-bottom:20px;
    margin-top:20px;
    font-size:20px;
    color:black;
}
.see-content:hover{
    font-size:21px;
    text-decoration: underline;
    color:blue;
}

.footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #1363DF;
    color: white;
    height: 300px;
}

.sub-item-footer {
    padding-top: 20px;
}

.item-footer {
    padding-top: 30px;
}

.sub-item-footer span i {
    margin-right: 15px;
}


/* new 31/10/22 */
@media only screen and (max-width: 990px)  {
    .navbar-small{
        margin-top:10px;
        background-color: rgb(19, 99, 223);
    }

    .answer-message span {
        max-width: 500px;
    }
    .question-message span {
        max-width: 500px;
    }
}

@media only screen and (max-width: 628px)  {
    #footer-1{
        display:none;
    }

    .answer-message-res {
        padding: 25px 0;
    }

    .question-message span {
        max-width: 210px;
    }

    .answer-message span {
        max-width: 210px;
    }

    .answer-message {
        display: flex;
        /* height: 40px; */
        justify-content: flex-end;
        /* padding-right: 10px; */
        text-align: end;
        border-radius: 20px;
    }
    .footer {
        padding-top: 30px;
        padding-left:100px;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        background-color: #1363DF;
        color: white;
        height: fit-content;
    }
}