<!DOCTYPE html>
<html lang="en">
<!-- git add .
git commit -m 'add footer'
git push -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../plugin/slick-master/slick-master/slick/slick.css">
  <link rel="stylesheet" href="../plugin/slick-master/slick-master/slick/slick-theme.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="expert-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid " style="margin-left:50px;margin-right:50px">
        <a class="navbar-brand" href="#">ESSME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Experts
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">FQAs</a></li>
                  <li><a class="dropdown-item" href="#">Order Experts</a></li>
                  <li><a class="dropdown-item" href="#">Response</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">News</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Language
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">English</a></li>
                  <li><a class="dropdown-item" href="#">Vietnamese</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img class="imgLogo" src="../assets/eventimg.png" alt="">
                </a>

              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img class="imgLogo" style="border-radius:30px" src="../assets/eventimg.png" alt="">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:80px">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div style=" margin-right:10px"></div>
      </div>
    </nav>
  </div>
  <script>
    const navbar = document.querySelector('.expert-navbar');
    window.onscroll = () => {
      if (window.scrollY > 10) {
        navbar.classList.add('nav-active');
      } else {
        navbar.classList.remove('nav-active');
      }
    };
  </script>


  <div class="header-background">
    <span class="essme">ESSME</span>
    <div style="width: 100%; display: flex;justify-content: center;">
      <div class="searchForm">
        <!-- <div class="searchByField"></div>
          <div class="searchByLocation"></div>
          <div class="searchButton"></div> -->
        <input class="searchByField form-control" placeholder="Search By Fields" />
        <input class="searchByLocation form-control" placeholder="Search By Locations" />
        <button class="searchButton btn btn-primary">
          <svg style="margin: auto; width: 25px" width="30" height="30" viewBox="0 0 30 30" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.75" clip-path="url(#clip0_2056_431)">
              <path
                d="M29.5898 25.9395L23.748 20.0977C23.4844 19.834 23.127 19.6875 22.752 19.6875H21.7969C23.4141 17.6191 24.375 15.0176 24.375 12.1875C24.375 5.45508 18.9199 0 12.1875 0C5.45508 0 0 5.45508 0 12.1875C0 18.9199 5.45508 24.375 12.1875 24.375C15.0176 24.375 17.6191 23.4141 19.6875 21.7969V22.752C19.6875 23.127 19.834 23.4844 20.0977 23.748L25.9395 29.5898C26.4902 30.1406 27.3809 30.1406 27.9258 29.5898L29.584 27.9316C30.1348 27.3809 30.1348 26.4902 29.5898 25.9395ZM12.1875 19.6875C8.04492 19.6875 4.6875 16.3359 4.6875 12.1875C4.6875 8.04492 8.03906 4.6875 12.1875 4.6875C16.3301 4.6875 19.6875 8.03906 19.6875 12.1875C19.6875 16.3301 16.3359 19.6875 12.1875 19.6875Z"
                fill="black" fill-opacity="0.5" />
            </g>
            <defs>
              <clipPath id="clip0_2056_431">
                <rect width="30" height="30" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </div>
  </div>


  </div>
  <div class="Experts">
    <div class="expertsTitle">
      <span>Find your suitable experts with us</span>
    </div>
    <div class="expertsIntro">
      <div style=" display: flex;padding-top: 50px;padding-bottom:120px; justify-content: space-evenly;">
        <div>
          <div class="introTitle">Easy</div>
          <div class="introSubTitle">to Search</div>
        </div>
        <div>
          <div class="introTitle">100N+</div>
          <div class="introSubTitle">experts in database+</div>
        </div>
        <div>
          <div class="introTitle">60+</div>
          <div class="introSubTitle">fields</div>
        </div>
      </div>
    </div>
    <div class="leading-experts-title-out">
      <div class="leading-experts-title">
        <span style="padding-top:2px;padding-left: 70px;padding-bottom: 60px;">LEADING EXPERTS</span>
      </div>
    </div>
    <div class="expertsDemo">
      <div class="demo-experts">
        <div class="leading-experts-container">
          <div class="leading-list">
            <div>
              <div>
                <div class="expert-item">
                  <span class="expert-experts-item-title-text">
                    <span>KHANH HUYEN TRINH</span>
                  </span>
                  <span class="expert-experts-position-text">
                    <span>Professional, Doctor</span>
                  </span>
                  <span class="expert-experts-work-space-text">
                    <span>Harvard University, Cambridge university, 清华大学</span>
                  </span>
                  <img alt="image42056" src="../../assets/expertimg.png" class="expert-experts-item-image" />
                </div>
              </div>
            </div>
            <div>
              <div>
                <div class="expert-item">
                  <span class="expert-experts-item-title-text">
                    <span>KHANH HUYEN TRINH</span>
                  </span>
                  <span class="expert-experts-position-text">
                    <span>Professional, Doctor</span>
                  </span>
                  <span class="expert-experts-work-space-text">
                    <span>Harvard University, Cambridge university, 清华大学</span>
                  </span>
                  <img alt="image42056" src="../../assets/expertimg.png" class="expert-experts-item-image" />
                </div>
              </div>
            </div>
            <div>
              <div>
                <div class="expert-item">
                  <span class="expert-experts-item-title-text">
                    <span>KHANH HUYEN TRINH</span>
                  </span>
                  <span class="expert-experts-position-text">
                    <span>Professional, Doctor</span>
                  </span>
                  <span class="expert-experts-work-space-text">
                    <span>Harvard University, Cambridge university, 清华大学</span>
                  </span>
                  <img alt="image42056" src="../../assets/expertimg.png" class="expert-experts-item-image" />
                </div>
              </div>
            </div>
            <div>
              <div>
                <div class="expert-item">
                  <span class="expert-experts-item-title-text">
                    <span>KHANH HUYEN TRINH</span>
                  </span>
                  <span class="expert-experts-position-text">
                    <span>Professional, Doctor</span>
                  </span>
                  <span class="expert-experts-work-space-text">
                    <span>Harvard University, Cambridge university, 清华大学</span>
                  </span>
                  <img alt="image42056" src="../../assets/expertimg.png" class="expert-experts-item-image" />
                </div>
              </div>
            </div>
            <div>
              <div>
                <div class="expert-item">
                  <span class="expert-experts-item-title-text">
                    <span>KHANH HUYEN TRINH</span>
                  </span>
                  <span class="expert-experts-position-text">
                    <span>Professional, Doctor</span>
                  </span>
                  <span class="expert-experts-work-space-text">
                    <span>Harvard University, Cambridge university, 清华大学</span>
                  </span>
                  <img alt="image42056" src="../../assets/expertimg.png" class="expert-experts-item-image" />
                </div>
              </div>
            </div>
            <div>
              <div>
                <div class="expert-item">
                  <span class="expert-experts-item-title-text">
                    <span>KHANH HUYEN TRINH</span>
                  </span>
                  <span class="expert-experts-position-text">
                    <span>Professional, Doctor</span>
                  </span>
                  <span class="expert-experts-work-space-text">
                    <span>Harvard University, Cambridge university, 清华大学</span>
                  </span>
                  <img alt="image42056" src="../../assets/expertimg.png" class="expert-experts-item-image" />
                </div>
              </div>
            </div>
            <div>
              <div>
                <div class="expert-item">
                  <span class="expert-experts-item-title-text">
                    <span>KHANH HUYEN TRINH</span>
                  </span>
                  <span class="expert-experts-position-text">
                    <span>Professional, Doctor</span>
                  </span>
                  <span class="expert-experts-work-space-text">
                    <span>Harvard University, Cambridge university, 清华大学</span>
                  </span>
                  <img alt="image42056" src="../../assets/expertimg.png" class="expert-experts-item-image" />
                </div>
              </div>
            </div>
            <div>
              <div>
                <div class="expert-item">
                  <span class="expert-experts-item-title-text">
                    <span>KHANH HUYEN TRINH</span>
                  </span>
                  <span class="expert-experts-position-text">
                    <span>Professional, Doctor</span>
                  </span>
                  <span class="expert-experts-work-space-text">
                    <span>Harvard University, Cambridge university, 清华大学</span>
                  </span>
                  <img alt="image42056" src="../../assets/expertimg.png" class="expert-experts-item-image" />
                </div>
              </div>
            </div>
            <div>
              <div>
                <div class="expert-item">
                  <span class="expert-experts-item-title-text">
                    <span>KHANH HUYEN TRINH</span>
                  </span>
                  <span class="expert-experts-position-text">
                    <span>Professional, Doctor</span>
                  </span>
                  <span class="expert-experts-work-space-text">
                    <span>Harvard University, Cambridge university, 清华大学</span>
                  </span>
                  <img alt="image42056" src="../../assets/expertimg.png" class="expert-experts-item-image" />
                </div>
              </div>
            </div>
            <div>
              <div>
                <div class="expert-item">
                  <span class="expert-experts-item-title-text">
                    <span>KHANH HUYEN TRINH</span>
                  </span>
                  <span class="expert-experts-position-text">
                    <span>Professional, Doctor</span>
                  </span>
                  <span class="expert-experts-work-space-text">
                    <span>Harvard University, Cambridge university, 清华大学</span>
                  </span>
                  <img alt="image42056" src="../../assets/expertimg.png" class="expert-experts-item-image" />
                </div>
              </div>
            </div>
            <div>
              <div>
                <div class="expert-item">
                  <span class="expert-experts-item-title-text">
                    <span>KHANH HUYEN TRINH</span>
                  </span>
                  <span class="expert-experts-position-text">
                    <span>Professional, Doctor</span>
                  </span>
                  <span class="expert-experts-work-space-text">
                    <span>Harvard University, Cambridge university, 清华大学</span>
                  </span>
                  <img alt="image42056" src="../../assets/expertimg.png" class="expert-experts-item-image" />
                </div>
              </div>
            </div>
            <div>
              <div>
                <div class="expert-item">
                  <span class="expert-experts-item-title-text">
                    <span>KHANH HUYEN TRINH</span>
                  </span>
                  <span class="expert-experts-position-text">
                    <span>Professional, Doctor</span>
                  </span>
                  <span class="expert-experts-work-space-text">
                    <span>Harvard University, Cambridge university, 清华大学</span>
                  </span>
                  <img alt="image42056" src="../../assets/expertimg.png" class="expert-experts-item-image" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="intro-before-field">
      <div class="become-experts-title">
        Want to become an Expert ?
      </div>
      <button class="become-experts-button">
        <span>Become An Expert</span>
      </button>
      <div class="become-experts-sub-title">
        Click right here and fill your profile to become one!
      </div>
    </div>

    <div class="fields-events">
      <span class="fields-title">Fields</span>
      <div class="fields">
        <div class="fields-list uneven">
          <div>
            <div class="field-item">
              <img src="../assets/bgImg.png" class="field-images" alt="">
              <div class="field-name">
                <span>Business</span>
              </div>
            </div>
          </div>
          <div>
            <div class="field-item">
              <img src="../assets/bgImg.png" class="field-images" alt="">
              <div class="field-name">
                <span>Business</span>
              </div>
            </div>
          </div>
          <div>
            <div class="field-item">
              <img src="../assets/bgImg.png" class="field-images" alt="">
              <div class="field-name">
                <span>Business</span>
              </div>
            </div>
          </div>
          <div>
            <div class="field-item">
              <img src="../assets/bgImg.png" class="field-images" alt="">
              <div class="field-name">
                <span>Business</span>
              </div>
            </div>
          </div>
          <div>
            <div class="field-item">
              <img src="../assets/bgImg.png" class="field-images" alt="">
              <div class="field-name">
                <span>Business</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="event-title">Join events with experts</span>
      <div class="events">
        <div class="event-list uneven">
          <div>
            <div class="item-events">
              <div class="img-events">
                <img style="width: 260px;height: 180px;border-radius: 20px;" src="../../assets/bgImg.png" alt="">
              </div>
              <div class="title-events">
                Title
              </div>
              <div class="detail-events">
                <img style="width: 20px;height: 20px;" src="../../assets/icon/facebook.png" alt="">
                <span>Time of events</span>
              </div>
              <div class="detail-events">
                <img style="width: 20px;height: 20px;" src="../../assets/icon/next.png" alt="">
                <span>location</span>
              </div>
            </div>
          </div>
          <div>
            <div class="item-events">
              <div class="img-events">
                <img style="width: 260px;height: 180px;border-radius: 20px;" src="../../assets/bgImg.png" alt="">
              </div>
              <div class="title-events">
                Title
              </div>
              <div class="detail-events">
                <img style="width: 20px;height: 20px;" src="../../assets/icon/facebook.png" alt="">
                <span>Time of events</span>
              </div>
              <div class="detail-events">
                <img style="width: 20px;height: 20px;" src="../../assets/icon/next.png" alt="">
                <span>location</span>
              </div>
            </div>
          </div>
          <div>
            <div class="item-events">
              <div class="img-events">
                <img style="width: 260px;height: 180px;border-radius: 20px;" src="../../assets/bgImg.png" alt="">
              </div>
              <div class="title-events">
                Title
              </div>
              <div class="detail-events">
                <img style="width: 20px;height: 20px;" src="../../assets/icon/facebook.png" alt="">
                <span>Time of events</span>
              </div>
              <div class="detail-events">
                <img style="width: 20px;height: 20px;" src="../../assets/icon/next.png" alt="">
                <span>location</span>
              </div>
            </div>
          </div>
          <div>
            <div class="item-events">
              <div class="img-events">
                <img style="width: 260px;height: 180px;border-radius: 20px;" src="../../assets/bgImg.png" alt="">
              </div>
              <div class="title-events">
                Title
              </div>
              <div class="detail-events">
                <img style="width: 20px;height: 20px;" src="../../assets/icon/facebook.png" alt="">
                <span>Time of events</span>
              </div>
              <div class="detail-events">
                <img style="width: 20px;height: 20px;" src="../../assets/icon/next.png" alt="">
                <span>location</span>
              </div>
            </div>
          </div>
          <div>
            <div class="item-events">
              <div class="img-events">
                <img style="width: 260px;height: 180px;border-radius: 20px;" src="../../assets/bgImg.png" alt="">
              </div>
              <div class="title-events">
                Title
              </div>
              <div class="detail-events">
                <img style="width: 20px;height: 20px;" src="../../assets/icon/facebook.png" alt="">
                <span>Time of events</span>
              </div>
              <div class="detail-events">
                <img style="width: 20px;height: 20px;" src="../../assets/icon/next.png" alt="">
                <span>location</span>
              </div>
            </div>
          </div>
          <div>
            <div class="item-events">
              <div class="img-events">
                <img style="width: 260px;height: 180px;border-radius: 20px;" src="../../assets/bgImg.png" alt="">
              </div>
              <div class="title-events">
                Title
              </div>
              <div class="detail-events">
                <img style="width: 20px;height: 20px;" src="../../assets/icon/facebook.png" alt="">
                <span>Time of events</span>
              </div>
              <div class="detail-events">
                <img style="width: 20px;height: 20px;" src="../../assets/icon/next.png" alt="">
                <span>location</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="news">
      <div class="news-title">
        <span>Update News </span><span class="behind-title">&nbsp;frequently</span>
      </div>
      <div class="news">

        <div class="body-news">
          <div class="list-item-news">
            <div class="item-news">
              <div class="title-item-news"><span>this is title of the news</span></div>
              <div class="detail-item-news">
                <img class="img-news" src="../../assets/bgImg.png" alt="">
                <div class="sub-detail-item-news">
                  <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                  <div class="time-item-news"><span>03/11/2021</span></div>
                </div>
              </div>
            </div>
            <div class="item-news">
              <div class="title-item-news"><span>this is title of the news</span></div>
              <div class="detail-item-news">
                <img class="img-news" src="../../assets/bgImg.png" alt="">
                <div class="sub-detail-item-news">
                  <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                  <div class="time-item-news"><span>03/11/2021</span></div>
                </div>
              </div>
            </div>
            <div class="item-news">
              <div class="title-item-news"><span>this is title of the news</span></div>
              <div class="detail-item-news">
                <img class="img-news" src="../../assets/bgImg.png" alt="">
                <div class="sub-detail-item-news">
                  <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                  <div class="time-item-news"><span>03/11/2021</span></div>
                </div>
              </div>
            </div>
            <div class="item-news">
              <div class="title-item-news"><span>this is title of the news</span></div>
              <div class="detail-item-news">
                <img class="img-news" src="../../assets/bgImg.png" alt="">
                <div class="sub-detail-item-news">
                  <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                  <div class="time-item-news"><span>03/11/2021</span></div>
                </div>
              </div>
            </div>
            <div class="item-news">
              <div class="title-item-news"><span>this is title of the news</span></div>
              <div class="detail-item-news">
                <img class="img-news" src="../../assets/bgImg.png" alt="">
                <div class="sub-detail-item-news">
                  <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                  <div class="time-item-news"><span>03/11/2021</span></div>
                </div>
              </div>
            </div>
            <div class="item-news">
              <div class="title-item-news"><span>this is title of the news</span></div>
              <div class="detail-item-news">
                <img class="img-news" src="../../assets/bgImg.png" alt="">
                <div class="sub-detail-item-news">
                  <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                  <div class="time-item-news"><span>03/11/2021</span></div>
                </div>
              </div>
            </div>
            <div class="item-news">
              <div class="title-item-news"><span>this is title of the news</span></div>
              <div class="detail-item-news">
                <img class="img-news" src="../../assets/bgImg.png" alt="">
                <div class="sub-detail-item-news">
                  <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                  <div class="time-item-news"><span>03/11/2021</span></div>
                </div>
              </div>
            </div>

            <div class="item-news">
              <div class="title-item-news"><span>this is title of the news</span></div>
              <div class="detail-item-news">
                <img class="img-news" src="../../assets/bgImg.png" alt="">
                <div class="sub-detail-item-news">
                  <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                  <div class="time-item-news"><span>03/11/2021</span></div>
                </div>
              </div>
            </div>
            <div class="item-news">
              <div class="title-item-news"><span>this is title of the news</span></div>
              <div class="detail-item-news">
                <img class="img-news" src="../../assets/bgImg.png" alt="">
                <div class="sub-detail-item-news">
                  <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                  <div class="time-item-news"><span>03/11/2021</span></div>
                </div>
              </div>
            </div>
            <div class="item-news">
              <div class="title-item-news"><span>this is title of the news</span></div>
              <div class="detail-item-news">
                <img class="img-news" src="../../assets/bgImg.png" alt="">
                <div class="sub-detail-item-news">
                  <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                  <div class="time-item-news"><span>03/11/2021</span></div>
                </div>
              </div>
            </div>
            <div class="item-news">
              <div class="title-item-news"><span>this is title of the news</span></div>
              <div class="detail-item-news">
                <img class="img-news" src="../../assets/bgImg.png" alt="">
                <div class="sub-detail-item-news">
                  <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                  <div class="time-item-news"><span>03/11/2021</span></div>
                </div>
              </div>
            </div>
            <div class="item-news">
              <div class="title-item-news"><span>this is title of the news</span></div>
              <div class="detail-item-news">
                <img class="img-news" src="../../assets/bgImg.png" alt="">
                <div class="sub-detail-item-news">
                  <div class="sub-title-item-news"><span>This is sub title of the news</span></div>
                  <div class="time-item-news"><span>03/11/2021</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-news">
          <span>Show More</span>
        </div>
      </div>
    </div>

    <div class="questions">
      <div class="question-title">
        <span>Send us your question</span>
      </div>
      <div class="question-FQAs">
        <div class="title-FQAs">
          <span>Question and Answer</span>
        </div>
        <div class="question-answer-card">
          <div class="question-field">
            <img style="width: 15px;height: 15px;margin:5px" src="../../assets/icon/reset-icon.png" alt="">
            <span>Question</span>
          </div>
          <div class="answer-field">
            <img style="width: 15px;height: 15px;margin:5px" src="../../assets/icon/reset-icon.png" alt="">
            <span>Answer</span>
          </div>
          <div class="answer-field">

          </div>
        </div>
        <div class="question-answer-card">
          <div class="question-field">
            <img style="width: 15px;height: 15px;margin:5px" src="../../assets/icon/reset-icon.png" alt="">
            <span>Question</span>
          </div>
          <div class="answer-field">
            <img style="width: 15px;height: 15px;margin:5px" src="../../assets/icon/reset-icon.png" alt="">
            <span>Answer</span>
          </div>
          <div class="answer-field">

          </div>
        </div>
        <div class="question-answer-card">
          <div class="question-field">
            <img style="width: 15px;height: 15px;margin:5px" src="../../assets/icon/reset-icon.png" alt="">
            <span>Question</span>
          </div>
          <div class="answer-field">
            <img style="width: 15px;height: 15px;margin:5px" src="../../assets/icon/reset-icon.png" alt="">
            <span>Answer</span>
          </div>
          <div class="answer-field">

          </div>
        </div>
        <div class="see-more-FQAs">
          <span>See more</span>
        </div>
      </div>

      <div class="your-question">
        <div class="title-FQAs">
          <span>Ask your question</span>
        </div>
        <h1></h1>
        <div style="display:flex; justify-content: center;align-items: center;border-radius: 30px;margin-top: 30px">
          <textarea class="form-control" placeholder="Enter your question..." rows="7"></textarea>
        </div>
        <div style="display:flex; justify-content: center;align-items: center;border-radius: 30px;margin-top:20px;">
          <textarea class="form-control" placeholder="Choose the field..." rows="1"></textarea>
        </div>
        <div style="display:flex; justify-content: center;align-items: center;padding-top: 30px;padding-bottom: 10px">
          <button class="btn btn-primary">SEND</button>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="item-footer">
        <div><span>Feature</span></div><br>
        <div class="sub-item-footer">
          <div><span>Find an Expert</span></div><br>
          <span>Find Events</span><br>
        </div>
      </div>
      <div class="item-footer">
        <div><span>Discover</span></div><br>
        <div class="sub-item-footer">
          <div><span>Security</span></div><br>
          <div></div><span>Sponsor</span><br>
        </div>
      </div>
      <div class="item-footer">
        <div><span>Information</span></div><br>
        <div class="sub-item-footer">
          <div><span>Rules</span></div><br>
          <span>About us</span><br>
        </div>
      </div>
      <div class="item-footer">
        <div><span>Community</span></div><br>
        <div class="sub-item-footer">
          <div><img style="width: 25px;height: 25px;" src="../../assets/icon/facebook.png" alt="">
            <span style="padding-right:5px"></span>
            <span>Facebook</span>
          </div><br>
          <div><img style="width: 25px;height: 25px;" src="../../assets/icon/twitter.png" alt="">
            <span style="padding-right:5px"></span>
            <span>Twitter</span>
          </div><br>
          <div><img style="width: 25px;height: 25px;" src="../../assets/icon/linkedin.png" alt="">
            <span style="padding-right:5px"></span>
            <span>Linkedln</span>
          </div><br>
        </div>

      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../plugin/slick-master/slick-master/slick/slick.js"></script>
    <script>
      $(document).ready(function () {
        $('.uneven').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          // prev arrow
          prevArrow: '<button type="button" data-role="none" class="slick-prev"> Previous </button>',

          // next arrow
          nextArrow: '<button type="button" data-role="none" class="slick-next"> Next </button>',

        });
      });
    </script>
</body>


</html>