<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="navbar">
    <div class="header">
      <div class="wrapper">
        <nav class="container">
          <a href="#">
            <div class="logo">
              <img class="imgLogo" src="https://img.vn/uploads/thuvien/singa-png-20220719150401Tdj1WAJFQr.png"
                alt="img">
            </div>
          </a>
          <ul id="main-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Experts</a>
              <ul class="sub-menu">
                <li><a href="#">FQAs </a></li>
                <li><a href="#">Order Expert</a></li>
                <li><a href="#">Response</a></li>
                <li><a href="#">News</a></li>
              </ul>
            </li>

            <li><a href="#">Events</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Language</a></li>
            <li><a href="#">Icon</a></li>
            <li><a href="#">Login</a>
              <ul class="sub-menu">
                <li><a href="#">Profile Setting</a></li>
                <li><a href="#">Oder History</a></li>
                <li><a href="#">Log out</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div style="width: 100%; display: flex;justify-content: center;padding-top: 400px;">
      <div class="searchForm">
        <div>
          <!-- <div class="searchByField"></div>
          <div class="searchByLocation"></div>
          <div class="searchButton"></div> -->
          <input class="searchByField" placeholder="Search By Fields" />
          <input class="searchByLocation" placeholder="Search By Locations" />
          <div class="searchButton">
            <h3>asfdsfd</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Experts">
    <div class="expertsTitle">
      <h1>Find your suitable experts with us</h1>
    </div>
    <div class="expertsIntro">
      <div style=" display: flex;padding:100px; justify-content: space-evenly;">
        <div>
          <div class="introTitle">Easy</div>
          <div class="introSubTitle">to Search</div>
        </div>
        <div>
          <div class="introTitle">100N+</div>
          <div class="introSubTitle">experts in database+</div>
        </div>
        <div>
          <div class="introTitle">60+</div>
          <div class="introSubTitle">fields</div>
        </div>
      </div>
    </div>
    <div class="expertsDemo">
      <div class="leading-experts-title">
        <h2 style="padding-top:2px;padding-left: 70px;padding-bottom: 60px;">LEADING EXPERTS</h2>
      </div>
      <div class="demo-experts">

      </div>
    </div>

  </div>

  <div class="intro-before-field">
    <div class="become-experts-title">
      <h1>Want to become an Expert ?</h1>
    </div>
    <div class="become-experts-button">
      <h2>Become An Expert</h2>
    </div>
    <div class="become-experts-sub-title">
      <h3>Click right here and fill your profile to become one!</h3>
    </div>
  </div>

  <div class="fields-events">
    <div class="fields">

    </div>
    <div class="events">

    </div>
  </div>

  <div class="news">
    <div class="news-title">
      <span>News</span>
    </div>
    <div class="news-list">

    </div>
  </div>

  <div class="questions">
    <div class="question-title">
      <span>Send us your question</span>
    </div>
    <div class="question-list">
      <h1>FQAs</h1>
      <div class="number-question">
        <div class="numer-question-title">
          <h2>Question</h2>
        </div>
        <div class="number-question-answer">
          <h2>Answer</h2>
        </div>
      </div>
    </div>
    <div class="your-question">
      <h1>Your Question</h1>
      <div class="input-question">

      </div>
      <div class="field-question">

      </div>
      <div class="button-send-question">

      </div>
    </div>
  </div>

  <div class="footer">
    <div class="class"></div>
    <div class="class"></div>
    <div class="class"></div>
  </div>
</body>

</html>
