body {
    background-color: #FFFFFF;
}
.essme {
    position: static;
    width: 385px;
    height: 97px;
    padding-left: 450px;
    padding-top: 200px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 124px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #67d1ff;
}
a {
    text-decoration: none;
    color: blue;
}
.expert-navbar {
    background: rgba(0, 29, 70, 0.4);
    height: 90px;
    z-index: 0;
}
.nav-active {
    background: rgba(205, 35, 35, 0.75);
    height: 70px;
}
.header-essme {
    display: flex;
    width: 1800px;
    justify-content: center;
    background-color: black;
    position: fixed;
}

.header-background {
    height: 640px;
    background-image: url("../assets/homepage-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
}

.imgLogo {
    width: 30px;
    height:30px;
}

.container-essme {
    height: 60px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    /* background-color: rgb(0, 0, 0); */
    /* opacity: 50%; */
}

.logo {
    display: flex;
}

#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 5px;
}

#main-menu li a {
    padding: 10px 20px;
}

#main-menu li {
    position: static;
}

.sub-menu {
    position: static;
    background-color: whitesmoke;
    padding: 10px 0px;
    list-style: none;
    width: 150px;
    text-decoration: none;
    top: 40px;
    display: none;
}

.sub-menu li:hover {
    background-color: black;
}

.sub-menu li:hover a {
    color: white;
}

.sub-menu li:last-child {
    border: none;
}

#main-menu li:hover ul {
    display: block;
}

li {
    padding: 10px;
}

header {
    padding-top: 10px;
}


.searchForm {
    position: static;
    margin-top: 230px;
    width: 1208px;
    height: 110px;
    background: rgba(19, 99, 223, 0.75);
    display: flex;
    flex-direction: row;
}

.searchByField {
    margin: auto;
    margin-left: 20px;
    margin-right: 10px;
    width: 509px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchByLocation {
    margin: auto;
    width: 491px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form-control::placeholder{
    color: rgba(128, 128, 128, 0.75);
}

.searchButton {
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    width: 270px;
    height: 53px;
    left: 1063px;
    top: 35px;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 15px;
}
.searchButton:hover{
     background: #d0e6ff;
     border-color: #5eaaff;
 }
.searchButton:focus{
}

.expertsTitle {
    position: static;
    padding-top: 28px;
    width: 100%;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #1A2849;
}

.introTitle {
    height: 80px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    color: #1363DF;
}

.introSubTitle {
    padding-top: 60px;
    font-family: 'League Spartan';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    color: black;
}
.leading-experts-title-out{
    width: 440px;
    height: 70px;
    display: flex;
    overflow: hidden;
    position: static;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}
.leading-experts-title {
    font-size: 30px;
    position: static;
    left: -40px;
    width: 400px;
    height: 120px;
    border-radius: 50px;
    background-color: blue;
}

.demo-experts {
    padding: 0;
    height: 600px;
    background-color: pink;
}

.intro-before-field {
    background-image: url("../assets/become-expert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -70px;
    position: static;
    height: 395px;
    padding-top: 50px;
}

.become-experts-title {
    height: 80px;
    font-family: 'Merriweather';
    font-style: normal;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.become-experts-button {
    box-sizing: border-box;
    display: flex;
    margin: auto;
    width: 300px;
    height: 70px;
    padding: 0;
    background: #FFFFFF;
    border: 3px solid #DA5050;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.become-experts-button:hover{
    width: 303px;
    height: 73px;
    background: #ea5656;
    border-color: transparent;
    margin-bottom: 0px;
    margin-top: 29px;
}
.become-experts-button:focus{
    width: 303px;
    height: 73px;
    background: #ea5656;
    margin-top: 29px;
    border: 3px groove #A9D2FF;
}
.become-experts-button:hover > span{
    color: #FFFFFF;
    font-size: 32.5px;
}
.become-experts-button:focus > span{
    color: #FFFFFF;
    font-size: 32.5px;
}
.become-experts-button > span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    color: #DA5050;
}

.become-experts-sub-title {
    height: 80px;
    font-family: 'Merriweather';
    font-style: normal;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

.fields-events {
    width: 100%;
    height: 400px;
    background-color: yellow;
}

/* .carousel {
    display: block;
    width: 100%;
    height: 400px;
    background: white;
    overflow-x: scroll;
    padding: 10px;
    margin: 0;
    white-space: nowrap;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
} */

.news {
    height: 600px;
    background: #5EAAFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.news-title {
    padding-top: 20px;
    padding-left: 40px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    color: white;
}

.news-list {
    height: 400px;
}

.questions {
    position: static;
    height: 500px;
    background-color: white;
}

.question-title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #1363DF;
}

.question-list {
    width: 505px;
    height: 596px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #A9D2FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.number-question {
    width: 1100px;
    height: 110px;
    left: 9px;
    top: 0px;
    background: #FFFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.number-question-title {
    width: 113px;
    height: 28px;
    left: 83px;
    top: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #000000;
}

.number-question-answer {
    width: 103px;
    height: 28px;
    left: 135px;
    top: 67px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
}

.your-question {
    width: 1208px;
    height: 441px;
    background: #A9D2FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #1363DF;
    color: white;
    height: 300px;
}

.sub-item-footer {
    padding-top: 20px;
}

.item-footer {
    padding-top: 30px;
}

