.body {
    /* background-color: #E5E5E5;; */
}

.body_chats{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_chats_search{ 
    /* background-color: aquamarine; */
    width: 365px;
    height: 781px;
    border: 1px solid #000000;
    
    
}

.body_chats_search_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
}

.body_chats_search_text { 
    width: 328px;
    height: 38px;
    background: #E0E0E0;
    border-radius: 20px;
    /* padding-left: 30px; */
}

.body_notify{ 
    padding-left: 0;
}

.body_notify_members{ 
    display: flex;
}

.body_notify_members_view {
    
}

.body_notify_members_link{ 
    margin: 8px 16px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 335px;
    height: 64px;
    background: #C0D2CC;
    border-radius: 10px;
}

.body_notify_members_link_img{ 
    object-fit: contain;
    width: 55px;
    height: 55px;
    background: #C4C4C4;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 4px;
    margin-left: 4px;
}


.body_notify_members_info{ 
    margin-left: 12px;
    justify-content: center;
}

.body_notify_members_name{ 
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;  
    padding-top: 8px;
    color: #000000;
}

.body_notify_members_des{ 
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-top: 12px;
    color: #000000;
}

.body_notify_members_time {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-top: 20px;
    padding-left: 48px;
    color: #000000;
}


/* Body view chat */
.body_view_chat {
    width: 961px;
    height: 781px;
    border: 1px solid #000000;
}

.body_view_chat_info {
    margin: 8px 16px;
    display: flex;
    text-decoration: none;
    width: 100%;
    height: 64px;
    border-radius: 10px;
    align-items: center;
    padding-top: 8px;    
}

.body_view_chat_info_link {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.body_view_chat_info_link_img {
    object-fit: contain;
    width: 40px;
    height: 40px;
    background: #CA7A7A;
    border-radius: 50%;
   
}

.body_view_chat_info_link_name {
    padding: 12px;
    color: #000000;
}

.body_view_chat_box_chat {

}

.line {
    width: 100%;
    height: 2px;
    background-color: #000000;
    
}

.body_view_chat_home {
    width: 100%;
    height: 100%;
    /* display: flex; */
}

.body_view_chat_from_from {
    display: flex;
    padding-left: 16px;
    padding-top: 100px;
}

.body_view_chat_home_from_img {
    object-fit: contain;
    width: 30px;
    height: 30px;
    background: #C4C4C4;
    border-radius: 50%;
    margin-right: 12px;
    margin-top: 4px;
}

.body_view_chat_home_from_box {
    width: 695px;
    height: 35px;
    background: #C4C4C4;
    border-radius: 25px;
}

.body_view_chat_home_sent {
    width: 695px;
    height: 35px;
    background: #C4C4C4;
    border-radius: 25px;
    margin-top: 100px;
    margin-left: 240px
}

.body_view_chat_home_send {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.body_view_chat_home_send_mind {
    width: 800px;
    height: 35px;
    background: #C4C4C4;
    border-radius: 25px;
    margin-top: 360px; 
}

.ti-angle-double-right {
    margin-top: 360px; 
    margin-left: 32px;
    font-size: 32px;
    color: blue;
}


